/* ----------------------------- */
/* ==variables                   */
/* ----------------------------- */
/* --------------------------------- */
/* ==global mixins                   */
/* --------------------------------- */
/* -------------------------------------------------------- */
/*! ==normalize.css v3.0.2 | MIT License | git.io/normalize */
/* -------------------------------------------------------- */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* ----------------------------- */
/* == soft reset                 */
/* ----------------------------- */
/* switching to border-box model for all elements */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}
/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */
/* for html tag styling like html, body, h1... */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}
body {
  font-size: 0.75em;
  color: #333;
}
svg path {
  fill: inherit;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}
@font-face {
  font-family: 'Museo-300';
  src: url('fonts/museo-300/333F1E_0_0.eot');
  src: url('fonts/museo-300/333F1E_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/museo-300/333F1E_0_0.woff2') format('woff2'), url('fonts/museo-300/333F1E_0_0.woff') format('woff'), url('fonts/museo-300/333F1E_0_0.ttf') format('truetype');
}
/* ----------------------------- */
/* ==components                  */
/* ----------------------------- */
body {
  background-color: #ebebeb;
}
.content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 100%;
}
@media only screen and (min-width: 980px) {
  .content-width {
    width: calc(100% - 16px);
  }
}
.page-body {
  padding-top: 1em;
  background-color: #F2F2F2;
}
@media only screen and (max-width: 980px) {
  .page-body {
    padding-top: 0;
  }
}
@media only screen and (min-width: 980px) {
  .page-body {
    background-image: url(../img/modern-portal-visual.jpg);
    background-position: 50% 0;
    background-size: auto 630px;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1820px) {
  .page-body {
    background-size: 100% auto;
  }
}
.page-body__content::after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}
@media only screen and (max-width: 980px) {
  .page-body__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.main-content {
  float: right;
  width: calc(100% - 10px - 180px);
  background-color: #fff;
}
@media only screen and (max-width: 980px) {
  .main-content {
    width: 100%;
  }
}
.main-sidebar {
  float: left;
  width: 180px;
  background-color: #fff;
}
@media only screen and (max-width: 980px) {
  .main-sidebar {
    width: 100%;
  }
}
.page-header {
  background-color: #FFF;
}
.page-header__logo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 0.25em;
}
@media only screen and (max-width: 980px) {
  .page-header__logo-area {
    padding-left: 8px;
  }
}
.page-header__logo {
  padding-bottom: 0.8em;
  /* 1 */
}
@media only screen and (max-width: 439px) {
  .page-header__logo {
    padding-bottom: 0.5em;
    /* 1 */
    width: 8em;
  }
}
@media (min-width: 440px) and (max-width: 650px) {
  .page-header__logo {
    width: 11em;
  }
}
/* 1. Brittle property. Artificial padding to create visual alignment between the logo and the portal name */
.page-header__portal-name {
  margin-left: 0.25em;
  color: #3bbcf4;
  font-family: Museo-300;
  font-size: 3em;
  font-weight: normal;
}
@media only screen and (max-width: 439px) {
  .page-header__portal-name {
    font-size: 1.5em;
  }
}
@media (min-width: 440px) and (max-width: 650px) {
  .page-header__portal-name {
    font-size: 2em;
  }
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.responsive-portal-menu__lv1-item {
  border: 1px solid #b3e0f0;
}
.responsive-portal-menu__lv1-item + .responsive-portal-menu__lv1-item {
  border-width: 0 1px 1px;
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__lv1-item + .responsive-portal-menu__lv1-item {
    border-width: 1px 1px 1px 0;
  }
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__lv1-item {
    width: 25%;
  }
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__lv1-item:not(.responsive-portal-menu__primary-item) {
    display: none;
  }
}
.responsive-portal-menu__header {
  position: relative;
  background-color: transparent;
}
.responsive-portal-menu__header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #E6F5FA;
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__header:before {
    width: 100%;
  }
}
.responsive-portal-menu__lv1-item.-is-active .responsive-portal-menu__header:before {
  background-color: #E0EFC5;
}
.responsive-portal-menu__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.responsive-portal-menu__icon {
  z-index: 1;
  /* 1 */
  height: 30px;
  width: 30px;
}
.responsive-portal-menu__svg-icon {
  height: 100%;
  width: 100%;
  fill: #09c;
}
.responsive-portal-menu__item-name {
  z-index: 1;
  /* 1 */
  padding: 0 1em 0 0.25em;
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__item-name {
    padding: 0 0.25em;
  }
}
/* 1. Required to go above the :before element in parent element */
.responsive-portal-menu__submenu-marker {
  position: absolute;
  top: 50%;
  right: 0.5em;
  margin-top: -4px;
  width: 8px;
  height: 8px;
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__submenu-marker {
    display: none;
  }
}
.responsive-portal-menu__more-marker {
  display: none;
  border: 1px solid #b3e0f0;
  border-width: 1px 1px 1px 0;
}
@media only screen and (max-width: 980px) {
  .responsive-portal-menu__more-marker {
    display: block;
    width: 25%;
  }
}
.responsive-portal-menu__submenu {
  display: none;
}
.small-btn {
  background-color: #99ca3c;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: Museo-300;
  font-weight: normal;
  border: none;
  -webkit-appearance: none;
  font-size: 1.08333em;
  padding: 0.5384em 1em 0.3846em 1em;
  line-height: 1;
  font-size: 0.75em;
}
.small-btn.-is-disabled,
.small-btn[disabled],
*[disabled] button.small-btn {
  opacity: 0.4;
  cursor: not-allowed;
}
@media screen and (min-width: 20em) {
  .small-btn {
    font-size: calc(0.75em  +  0.33333  * ((100vw -  20em ) / 10 ));
  }
}
@media screen and (min-width: 30em) {
  .small-btn {
    font-size: 1.08333em;
  }
}
.small-btn:hover {
  color: #fff;
  background-color: #8ebe34;
}
.secondary-small-btn {
  background-color: #cbeaf5;
  color: #333;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: Museo-300;
  font-weight: normal;
  border: none;
  -webkit-appearance: none;
  font-size: 1.08333em;
  padding: 0.5384em 1em 0.3846em 1em;
  line-height: 1;
  font-size: 0.75em;
}
.secondary-small-btn.-is-disabled,
.secondary-small-btn[disabled],
*[disabled] button.secondary-small-btn {
  opacity: 0.4;
  cursor: not-allowed;
}
@media screen and (min-width: 20em) {
  .secondary-small-btn {
    font-size: calc(0.75em  +  0.33333  * ((100vw -  20em ) / 10 ));
  }
}
@media screen and (min-width: 30em) {
  .secondary-small-btn {
    font-size: 1.08333em;
  }
}
.secondary-small-btn:hover {
  color: #333;
  background-color: #bae3f2;
}
.fat-btn {
  background-color: #09c;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.5em;
  min-width: 13em;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: Museo-300;
  font-weight: normal;
  border: none;
  -webkit-appearance: none;
}
.fat-btn:hover {
  color: #fff;
  background-color: #008ebd;
}
.fat-btn.-is-disabled,
.fat-btn[disabled],
*[disabled] button.fat-btn {
  opacity: 0.4;
  cursor: not-allowed;
}
.page-title {
  font-size: 2.08334em;
  line-height: 1.2;
  color: #09c;
  font-weight: normal;
  font-family: Museo-300;
  padding: 0.28em 0;
  font-size: 1.25em;
}
@media screen and (min-width: 20em) {
  .page-title {
    font-size: calc(1.25em  +  0.83334  * ((100vw -  20em ) / 41.25 ));
  }
}
@media screen and (min-width: 61.25em) {
  .page-title {
    font-size: 2.08334em;
  }
}
.section-heading {
  font-family: Museo-300;
  font-size: 1.5em;
  font-weight: normal;
  color: #333;
  line-height: 2;
  margin-top: 0;
}
.section-heading.-small {
  font-size: 1.166667em;
}
.subtle-heading {
  font-size: 1em;
  font-weight: bold;
  line-height: 2;
  color: #333;
  margin: 0;
}
.text-like-heading {
  font-size: 1em;
  font-weight: normal;
  color: #333;
  line-height: 1.4;
  margin-top: 0;
}
.sub-section-heading {
  color: #09c;
  font-size: 1.3333em;
  font-family: Museo-300;
  font-weight: normal;
  line-height: 2;
  margin-top: 0;
}
.secondary-section {
  background: #f3f3f3;
  padding: 8px;
  display: block;
}
.default-section {
  background: #D9EDF7;
  background-image: -o-linear-gradient(top, #C6E7F8 0%, #D9EDF7 40px);
  background-image: linear-gradient(-180deg, #C6E7F8 0%, #D9EDF7 40px);
  padding: 10px 20px 20px 20px;
  margin-bottom: 10px;
  display: block;
}
.inner-section {
  border-radius: 3px;
  background-color: #fff;
  padding: 20px;
  display: block;
}
.inner-section + .inner-section {
  margin-top: 20px;
}
.section-with-divider {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
  display: block;
}
.highlight-section {
  background-color: #e4ebed;
  padding: 0.83334em;
  display: block;
}
.subtle-section {
  padding: 0.83334em;
  border: 1px solid #cac9c9;
  overflow: auto;
  display: block;
}
.subtle-section:empty {
  display: none;
}
.sliding-panel-trigger {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -10;
}
.sliding-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  overflow-y: scroll;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  width: 90%;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid lightgrey;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}
@media (min-width: 980px) and (max-width: 1250px) {
  .sliding-panel {
    width: 880px;
  }
}
@media only screen and (min-width: 1251px) {
  .sliding-panel {
    width: 70.4%;
  }
}
.sliding-panel-trigger:checked ~ .sliding-panel {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  z-index: 11;
}
.form-item {
  display: block;
  padding-bottom: 1.5em;
}
.form-item.-with-datepicker-tooltip {
  min-width: 13.5em;
  display: inline-block;
  vertical-align: middle;
}
.form-item__label {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}
.form-item__default-input,
.form-item__read-only-field {
  width: 100%;
  border: 1px solid #c4c6c6;
  line-height: 1;
  padding: 0.3334em;
  min-height: 2em;
}
.form-item__default-input:focus,
.form-item__read-only-field:focus {
  outline: none;
  border-color: #3bbcf4;
}
.form-item__default-input:not(input):not(textarea),
.form-item__read-only-field:not(input):not(textarea),
.form-item__default-input[disabled],
.form-item__read-only-field[disabled],
.form-item__default-input:disabled,
.form-item__read-only-field:disabled {
  background-color: #e4ebed;
  border-width: 0 0 1px 0;
  border-color: #bfc5c7;
  font-size: 125%;
  display: block;
  min-height: 1.6em;
}
.form-item__default-input:not(input):not(textarea),
.form-item__read-only-field:not(input):not(textarea) {
  padding: calc(0.3334em - 1px);
}
.form-item__default-input[disabled],
.form-item__read-only-field[disabled],
.form-item__default-input:disabled,
.form-item__read-only-field:disabled {
  padding-top: 0;
  padding-bottom: 0;
}
.form-item__default-input.error,
.form-item__read-only-field.error,
.form-item__default-input.ng-invalid.ng-dirty,
.form-item__read-only-field.ng-invalid.ng-dirty,
.form-item__default-input.ng-invalid-required:not(.ng-pristine),
.form-item__read-only-field.ng-invalid-required:not(.ng-pristine) {
  border-color: #ee6bb0;
}
.form-item__select-wrapper select {
  width: 100%;
  padding: 0.25em;
  border: 1px solid #c4c6c6;
  max-height: 2em;
}
.form-item__select-wrapper select[disabled],
.form-item__select-wrapper select:disabled {
  background-color: #e4ebed;
  border-color: #bfc5c7;
}
.form-item__select-wrapper select.error,
.form-item__select-wrapper select.ng-invalid.ng-dirty,
.form-item__select-wrapper select.ng-invalid-required:not(.ng-pristine) {
  border-color: #ee6bb0;
}
.form-item__select-wrapper select:focus {
  outline: none;
  border-color: #3bbcf4;
}
.form-item__select-wrapper :not(select):not(option) {
  border: 1px solid #c4c6c6;
  padding: 1px 0.3334em 0;
  background-color: #e4ebed;
  border-width: 0 0 1px 0;
  border-color: #bfc5c7;
  font-size: 125%;
  display: block;
}
.form-item__default-select {
  width: 100%;
  padding: 0.25em;
  border: 1px solid #c4c6c6;
  max-height: 2em;
}
.form-item__default-select[disabled],
.form-item__default-select:disabled {
  background-color: #e4ebed;
  border-color: #bfc5c7;
}
.form-item__default-select.error,
.form-item__default-select.ng-invalid.ng-dirty,
.form-item__default-select.ng-invalid-required:not(.ng-pristine) {
  border-color: #ee6bb0;
}
.form-item__default-select:focus {
  outline: none;
  border-color: #3bbcf4;
}
.form-item__datepicker-wrapper {
  width: 9em;
}
.form-item__datepicker-wrapper input {
  width: 100%;
  border: 1px solid #c4c6c6;
  line-height: 1;
  padding: 0.3334em;
  min-height: 2em;
}
.form-item__datepicker-wrapper input.error {
  border-color: #ee6bb0;
}
.form-choice-item {
  display: block;
}
.form-choice-item__input {
  display: inline-block;
  vertical-align: top;
}
.form-choice-item__input.-is-centered {
  vertical-align: middle;
}
.form-choice-item__label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 18px);
  line-height: 1.25;
  padding: 0.25em 0;
}
.form-choice-item__label p {
  margin: 0;
}
.form-item__error {
  color: #dd2c00;
}
.default-label {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
}
.radio-pills {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.radio-pills__item {
  display: inline-block;
  position: relative;
}
.radio-pills__item + .radio-pills__item {
  margin-left: 0.25em;
}
.radio-pills__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}
.radio-pills__label {
  background-color: #f7f8f8;
  border: 1px solid #b3d0e9;
  border-radius: 1.25em;
  color: #9B9B9B;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  display: block;
  cursor: pointer;
}
.radio-pills__label:hover {
  background: #E6F2F8;
  color: #828282;
}
.radio-pills__input[disabled]:not(:checked) + .radio-pills__label,
.radio-pills__input:disabled:not(:checked) + .radio-pills__label {
  opacity: 0.5;
  cursor: not-allowed;
}
.radio-pills__input[disabled]:not(:checked) + .radio-pills__label:hover,
.radio-pills__input:disabled:not(:checked) + .radio-pills__label:hover {
  background-color: #f7f8f8;
  color: #9B9B9B;
}
.radio-pills__input:checked + .radio-pills__label {
  background-color: #eaf4d8;
  border-color: #99ca3c;
  color: #5c7a24;
}
.search-highlight {
  display: inline-block;
  background-color: yellow;
}
.inventory-filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.inventory-filters-list__item {
  width: 25%;
}
@media only screen and (max-width: 600px) {
  .inventory-filters-list__item {
    padding: 0.5em 0;
    width: 50%;
  }
}
.inventory-filters-controls__item {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 250ms ease-in-out;
  -o-transition: height 250ms ease-in-out;
  transition: height 250ms ease-in-out;
}
.inventory-filters-controls__item.-is-open {
  height: auto;
}
.inventory-filters-controls__content:before,
.inventory-filters-controls__content:after {
  content: "";
  display: table;
}
.ports-inventory {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ports-inventory__item {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.ports-inventory__item.-is-hidden {
  display: none;
}
.ports-inventory__bar {
  display: block;
  position: relative;
  padding: 1em 0.5em;
  padding-right: 24px;
  border: 1px solid lightgrey;
}
.ports-inventory__bar:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #09c;
}
.ports-inventory__bar:hover {
  background-color: #e6f2f8;
}
.ports-inventory__displayed-criteria {
  font-size: 1.16667em;
}
.ports-inventory__dynamic-criteria {
  font-style: italic;
  color: #808080;
}
.ports-inventory__criteria {
  display: none;
  margin-top: 8px;
}
.ports-inventory__criteria.-is-shown {
  display: inline-block;
}
.ports-inventory__details {
  padding: 16px;
}
@media only screen and (max-width: 640px) {
  .ports-inventory__details {
    padding: 8px;
  }
}
.port-finder {
  border-bottom: 1px solid lightgrey;
}
.port-finder__section {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.port-finder__section + .port-finder__section {
  border-width: 0 1px 1px;
}
.port-finder__section.-is-open,
.port-finder__section.-is-half-open {
  height: auto;
}
.port-finder__section-header {
  overflow: hidden;
  border: 1px solid lightgrey;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.port-finder__inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.port-finder__action {
  margin-left: auto;
  margin-right: 0.5em;
}
.port-finder__expandable-area {
  overflow: hidden;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.port-finder__section-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.25em;
  border: 1px solid lightgrey;
  border-width: 0 1px;
}
.port-finder__label {
  padding: 0.5em;
  width: 4em;
  background-color: ghostwhite;
}
.port-finder__selected-item {
  margin-left: 0.5em;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.port-finder__selected-item.-is-hidden {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}
.port-finder__unselect-item {
  margin-left: 0.5em;
  padding: 0.25em;
  width: 1.5em;
  background-color: red;
  border-radius: 4em;
  color: #fff;
  font-size: 0.75em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.port-finder__unselect-item.-is-hidden {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}
.port-finder__item {
  margin: 0.25em;
}
/* -------------------------------------- */
/* ==for the dirty code                   */
/* -------------------------------------- */
.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}
.updated-inventory-heading {
  display: none;
}
/* -------------------------------------- */
/* ==utility classes                      */
/* -------------------------------------- */
/* the only place where the use of !important may be tolerated */
.u-float-right {
  float: right;
}
.u-margin-top-small {
  margin-top: 8px;
}
.u-margin-bottom-small {
  margin-bottom: 8px;
}
.u-margin-bottom-medium {
  margin-bottom: 16px;
}
.u-padding-small {
  padding: 8px;
}

/*# sourceMappingURL=../css/styles.css.map */
