<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>{% block title %} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/styles.css" media="all">
</head>
<body>
	
	<!-- You write code for this content block in another file -->
		<div class="page">
	  	{% block content %} {% endblock %}		
		</div>

	<script src="js/scripts.js" type="text/javascript"></script>	

	<!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->

</body>
</html>