/* ----------------------------- */
/* ==variables                   */
/* ----------------------------- */
/* --------------------------------- */
/* ==global mixins                   */
/* --------------------------------- */
/* -------------------------------------------------------- */
/*! ==normalize.css v3.0.2 | MIT License | git.io/normalize */
/* -------------------------------------------------------- */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* ----------------------------- */
/* == soft reset                 */
/* ----------------------------- */
/* switching to border-box model for all elements */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}
/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */
/* for html tag styling like html, body, h1... */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background-image: -webkit-gradient(linear, left top, right top, from(#354FA4), to(#4F317B));
  background-image: -o-linear-gradient(left, #354FA4, #4F317B);
  background-image: linear-gradient(to right, #354FA4, #4F317B);
}
/* ----------------------------- */
/* ==components                  */
/* ----------------------------- */
.page {
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  max-width: 720px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.16);
}
.page-section {
  margin-bottom: 2em;
}
.collapsible-item__expanding-shell {
  overflow: hidden;
  -webkit-transition: height 250ms ease-in-out;
  -o-transition: height 250ms ease-in-out;
  transition: height 250ms ease-in-out;
  height: 0;
}
.collapsible-item__hideable-content {
  opacity: 0.2;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.collapsible-item__hideable-content:before,
.collapsible-item__hideable-content:after {
  content: "";
  display: table;
}
.collapsible-item.-is-open .collapsible-item__hideable-content {
  opacity: 1;
}
.collapsible-item__trigger {
  cursor: pointer;
}
.form-pills {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.form-pills__item {
  display: inline-block;
  position: relative;
}
.form-pills__item + .form-pills__item {
  margin-left: 0.25em;
}
.form-pills__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}
.form-pills__label {
  background-color: #f7f8f8;
  border: 1px solid #b3d0e9;
  border-radius: 1.25em;
  color: #9B9B9B;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  display: block;
}
.form-pills__label:hover {
  background: #E6F2F8;
  color: #828282;
}
.form-pills__input[disabled]:not(:checked) + .form-pills__label,
.form-pills__input:disabled:not(:checked) + .form-pills__label {
  opacity: 0.5;
  cursor: not-allowed;
}
.form-pills__input[disabled]:not(:checked) + .form-pills__label:hover,
.form-pills__input:disabled:not(:checked) + .form-pills__label:hover {
  background-color: #f7f8f8;
  color: #9B9B9B;
}
.form-pills__input:checked + .form-pills__label {
  background-color: #eaf4d8;
  border-color: #99ca3c;
  color: #5c7a24;
}
.form-pills__input[type="checkbox"] + .form-pills__label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: white;
  vertical-align: middle;
  margin-right: 0.5em;
  border: 1px solid #b3d0e9;
  border-radius: 3px;
}
.form-pills__input[type="checkbox"]:checked + .form-pills__label:before {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%228%22 viewBox=%220 0 10 8%22%3E %3Cpolygon fill=%22%23428BCA%22 fill-rule=%22evenodd%22 points=%229.227 0 3.174 6.053 .799 3.654 0 4.453 3.174 7.627 9.999 .8%22/%3E %3C/svg%3E ');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.form-pills__input[type="checkbox"].-is-half-selected + .form-pills__label:before {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%228%22 viewBox=%220 0 10 8%22%3E %3Cpolygon fill=%22%23428BCA%22 fill-rule=%22evenodd%22 points=%229.227 0 3.174 6.053 .799 3.654 0 4.453 3.174 7.627 9.999 .8%22/%3E %3C/svg%3E ');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/* switch           */
/********************/
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.switch__input {
  position: absolute;
  opacity: 0;
  z-index: -20;
}
.switch__graphic {
  display: block;
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 1em;
  -webkit-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  background-color: #E83A96;
  border: 2px solid #A4B9C1;
  -webkit-box-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.22);
          box-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.22);
}
.switch__graphic:before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  border: 2px solid;
  top: calc(50% - (1.5em / 2));
  left: -2px;
  -webkit-transition: left 150ms ease-in-out;
  -o-transition: left 150ms ease-in-out;
  transition: left 150ms ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E2E2E2), to(#91C6D7));
  background-image: -o-linear-gradient(top, #E2E2E2 0%, #91C6D7 100%);
  background-image: linear-gradient(-180deg, #E2E2E2 0%, #91C6D7 100%);
  border-color: #97AAB0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 30, 40, 0.34);
          box-shadow: 0 2px 2px 0 rgba(0, 30, 40, 0.34);
}
.switch__input:checked + .switch__graphic {
  background: #99CA3C;
  border: 2px solid #A4B9C1;
  -webkit-box-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.32);
          box-shadow: inset 0 4px 3px 0 rgba(0, 0, 0, 0.32);
}
.switch__input:checked + .switch__graphic:before {
  left: calc(100% - 1.5em + 2px);
}
.switchable-section {
  border-bottom: 1px solid lightgrey;
}
.switchable-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.75em 0;
}
.switchable-section__heading {
  color: #09c;
  font-size: 1.25em;
}
.switchable-section__content {
  padding: 0.75em 0;
}
/* -------------------------------------- */
/* ==for the dirty code                   */
/* -------------------------------------- */
/* -------------------------------------- */
/* ==utility classes                      */
/* -------------------------------------- */
/* the only place where the use of !important may be tolerated */

/*# sourceMappingURL=../css/styles.css.map */
