/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */

/* for html tag styling like html, body, h1... */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  box-sizing: border-box;
  
  background-color: darken(#cbeaf5, 15%);
}

body {
	font-size: 0.75rem;
}