.page-content {
	max-width: @page-width;
	width: 98%;
	
	margin-left: auto;
	margin-right: auto;
	
	// border: 1px solid blue;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	@media only screen and (max-width: unit((unit(@page-width) + 20),px)) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.main-content {
	float: right;
	
	width: ~"calc(100% - @{sidebar-width} - 1em)";
	
	border: 1px solid red;
	
	@media only screen and (max-width: unit((unit(@page-width) + 20),px)) {
		width: 100%;
	}
}

.main-sidebar {
	width: @sidebar-width;
	
	// border: 1px solid green;
	
	@media only screen and (max-width: unit((unit(@page-width) + 20),px)) {
		width: 100%;
	}
}