.portal-menu {
	position: relative;

	background-color: #FFF;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	
	@media only screen and (max-width: unit((unit(@page-width) + 20),px)) {
		display: flex;
		align-items: stretch;
	}
}

.portal-menu__main-group {
	// min-height: 100px;
		
	@media only screen and (min-width: unit((unit(@page-width) + 20 + 1),px)) {
		border: 1px solid #b3e0f0;
		border-width: 0 0 1px 0;
		
		&:first-child {
			border-width: 1px 0; 
		}
	}

	@media only screen and (max-width: unit((unit(@page-width) + 20),px)) {
		display: flex;
		
		width: 20%;
		
		border: 1px solid #b3e0f0;
		border-width: 0 1px 0 0;
		
		&:first-child {
			border-width: 0 1px; 
		}
	}
}


.portal-menu__main-item {
	position: relative;
	display: flex;
	align-items: center;
	
	width: 100%;
		
	padding-right: 1em;
	
	background: linear-gradient(#e6f5fa, #e6f5fa) 0 0 ~"/" 2.5em 100% no-repeat;
	text-decoration: none;
	cursor: pointer;
	
	@media only screen and (max-width: 650px) {
		// flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		
		padding-right: 0;
		
		text-align: center;
		
		background-size: 100% 2.5em;
	}
	
	&:not(.-no-submenu) {

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			
			margin-top: -0.5em;
			
			width: 1em;
			height: 1em;

			background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E%3Cpolygon fill=%22%230099CC%22 fill-rule=%22evenodd%22 points=%229 6 3 10 3 2%22/%3E%3C/svg%3E');
			background-repeat: no-repeat;
			background-position: 100% 50%;
			
			transition: transform 200ms ease-in-out;
			
			@media only screen and (max-width: 650px) {
				top: .75em;
				right: ~"calc(50% - 2em)";
			}
		}

		&.-is-open {
			background-color: #f5faec;
			background-image: linear-gradient(#e0efc5, #e0efc5);
			
			&:before {
				transform: rotate(90deg);
			}
		}
	}

	&:hover {
		background-color: #e6f5fa;
		background-image: linear-gradient(#ccebf5,#ccebf5);
	}
}




.portal-menu__item-icon {	
	height: 2.5em;
	width: 2.5em;
	
	@media only screen and (max-width: 650px) {
		width: 100%;
	}
}

.portal-menu__icon-svg {
	max-height: 100%;
	max-width: 100%;
}


.portal-menu__main-item-name {
	width: ~"calc(100% - 2.5em)";
	
	padding: 0.5em 0.25em;
	
	color: #333;
	font-size: 0.8125rem;
	line-height: 1.2;
	
	@media only screen and (max-width: 650px) {
		font-size: 0.625rem;
		width: 100%;
	}

	.portal-menu__main-item.-is-active-item & {
		color: darken(#09c, 10%);
	}
}


.portal-menu__submenu {
	display: none;
	overflow: hidden;
	
	height: 0;
	
	border: 1px solid #f7f8f8;
	border-width: 1px 1px 0;
	
	transition: height 250ms ease-in-out;
	
	&.-is-open {
		display: block;
		
		height: auto;
		
		background-color: #fff;
	}
	
	@media only screen and (max-width: unit((unit(@page-width) + 20),px)) {
		position: absolute;
		z-index: 5;
		
		top: 100%;
		left: 0;
		
		width: 100%;
				
		.portal-menu__submenu.-is-open ~ & {
			z-index: 10;
		}
	}
}

.portal-menu__sub-item {
	display: block;
	
	padding-left: 0.5em;
	
	border: 1px solid #F7F8F8;
	border-width: 0 0 1px;
	text-decoration: none;
	
	@media only screen and (min-width: unit((unit(@page-width) + 20 + 1),px)) {
		padding-left: 2.75em;
	}

	&:not(.-is-heading) {
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		padding-right: 0.5em;
		
		cursor: pointer;
		color: #707070;
		
		&:hover {
			background-color: #e6f5fa;
		}
	}
	
	&.-is-heading {
		position: relative;
		
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		padding-right: 1em;
		
		background-color: #F7F8F8;
		cursor: default;
		color: #2984ab;
		text-transform: uppercase;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			
			margin-top: -0.5em;
			
			width: 1em;
			height: 1em;

			background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E%3Cpolygon fill=%22%23BEC6C6%22 fill-rule=%22evenodd%22 points=%229 6 3 10 3 2%22/%3E%3C/svg%3E');
			background-repeat: no-repeat;
			background-position: 100% 50%;
			transform: rotate(90deg);
		}
	}

	&.-is-active-item {
		color: #09c;
		font-weight: bold;
		background-color: lighten(#e6f5fa, 4%);
	}
}