/* -------------------------------------- */
/* ==for the dirty code                   */
/* -------------------------------------- */

.flex-test {
	display: flex;
	align-items: stretch;
	
	background-color: #FFF;
	
	& > div {
		display: flex;
		
		width: 33.333%;
	}
}

.flex-test__item {
	display: flex;
	
	width: 100%;

	background-color: pink;
}