/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */

html {
	font-family: Arial, sans-serif;
	font-size: 100%;
}

body {
	fill: currentColor;
	color: blue;
}

// svg path {
//   fill: inherit;
// }

h1,
.h1-like {
	&:first-child {
		margin-top: 0;
	}
}

h2,
.h2-like {
	font-size: 1.125em;
	font-weight: normal;

	&:first-child {
		margin-top: 0;
	}
}