/* ----------------------------- */
/* ==form-item                   */
/* ----------------------------- */

.form-item__field {
	width: 100%;

	&.-with-tooltip {
		width: calc(100% - 2em);
	}
}

.form-item__warning {
	background-color: rgba(242, 222, 222, 1);
	border: 1px solid rgba(235, 204, 209, 1);
	border-radius: 5px;
	color: #A94442;
	padding: 0.5em;
	
	position: relative;
	margin-top: 0.75em;
	
	font-size: 0.75em;

	&:after, &:before {
		bottom: 100%;
		left: 20px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(242, 222, 222, 0);
		border-bottom-color: #f2dede;
		border-width: 8px;
		margin-left: -8px;
	}
	&:before {
		border-color: rgba(235, 204, 209, 0);
		border-bottom-color: #ebccd1;
		border-width: 9px;
		margin-left: -9px;
	}
}