/* ----------------------------- */
/* ==svg icons                   */
/* ----------------------------- */

// to use with the svg mixin

/* SVG are stored in variables */
$svg-icon-simple-arrow-left: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
  <polygon fill="#000000" fill-rule="evenodd" points="4.5 1 11.5 8 4.5 15"/>
</svg>
';

$svg-icon-simple-arrow-bottom-left: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
  <polygon fill="#000000" fill-rule="evenodd" points="10.475 10.475 .575 10.475 10.475 .575 10.475 10.475 10.475 10.475"/>
</svg>
';

$svg-icon-alternate-arrow: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
  <polygon fill="#000000" fill-rule="evenodd" points="12.979 12.979 3.08 12.979 12.979 3.08 12.979 12.979 12.979 12.979"/>
</svg>';

$svg-icon-test: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
  <polygon fill="currentColor" fill-rule="evenodd" points="10.475 10.475 .575 10.475 10.475 .575 10.475 10.475 10.475 10.475"/>
</svg>';

.icon-simple-arrow-left {
	&:before {
		content: "";
		background-image: svg-replace-fill($svg-icon-simple-arrow-left, '#000000', '#000');
		background-repeat: no-repeat;
		min-width: 16px;
		min-height: 16px;
		display: inline-block;
		vertical-align: text-bottom;
	}
}

.icon-test {
	&:before {
		content: "";
		background-image: svg-url($svg-icon-simple-arrow-left);
		background-repeat: no-repeat;
		min-width: 16px;
		min-height: 16px;
		display: inline-block;
		vertical-align: text-bottom;
	}
}