@charset "UTF-8";

@font-face {
  font-family: "interxion-dingbats";
  src:url("../fonts/interxion-dingbats.eot");
  src:url("../fonts/interxion-dingbats.eot?#iefix") format("embedded-opentype"),
    url("../fonts/interxion-dingbats.woff") format("woff"),
    url("../fonts/interxion-dingbats.ttf") format("truetype"),
    url("../fonts/interxion-dingbats.svg#interxion-dingbats") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "interxion-dingbats" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "interxion-dingbats" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-access:before {
  content: "a";
}
.icon-access-server:before {
  content: "b";
}
.icon-apps:before {
  content: "c";
}
.icon-aws:before {
  content: "d";
}
.icon-back:before {
  content: "e";
}
.icon-backup:before {
  content: "f";
}
.icon-bill-resellers:before {
  content: "g";
}
.icon-blade-server:before {
  content: "h";
}
.icon-blade-server-rack:before {
  content: "i";
}
.icon-bluetooth:before {
  content: "j";
}
.icon-broadband-isp:before {
  content: "k";
}
.icon-broadcast:before {
  content: "l";
}
.icon-business-growth:before {
  content: "m";
}
.icon-corporate-users:before {
  content: "n";
}
.icon-contact-management:before {
  content: "o";
}
.icon-connectivity:before {
  content: "p";
}
.icon-connect:before {
  content: "q";
}
.icon-community:before {
  content: "r";
}
.icon-collaboration:before {
  content: "s";
}
.icon-colocation:before {
  content: "t";
}
.icon-cloud-service:before {
  content: "u";
}
.icon-cloud-connect:before {
  content: "v";
}
.icon-cloud-access:before {
  content: "w";
}
.icon-cloud:before {
  content: "x";
}
.icon-cases:before {
  content: "y";
}
.icon-carriers:before {
  content: "z";
}
.icon-cost-effective:before {
  content: "A";
}
.icon-coverage:before {
  content: "B";
}
.icon-crm:before {
  content: "C";
}
.icon-cross-connect:before {
  content: "D";
}
.icon-custom-apps:before {
  content: "E";
}
.icon-customer-service:before {
  content: "F";
}
.icon-customers-enquiry:before {
  content: "G";
}
.icon-delivery-and-removal:before {
  content: "H";
}
.icon-data-centres:before {
  content: "I";
}
.icon-desktop:before {
  content: "J";
}
.icon-digital-media:before {
  content: "K";
}
.icon-distribution:before {
  content: "L";
}
.icon-document-management:before {
  content: "M";
}
.icon-gambling:before {
  content: "N";
}
.icon-future-proof:before {
  content: "O";
}
.icon-flexible:before {
  content: "P";
}
.icon-firewall:before {
  content: "Q";
}
.icon-financial-services:before {
  content: "R";
}
.icon-finance:before {
  content: "S";
}
.icon-facebook:before {
  content: "T";
}
.icon-exchange:before {
  content: "U";
}
.icon-ethernet:before {
  content: "V";
}
.icon-erp:before {
  content: "W";
}
.icon-enterprise:before {
  content: "X";
}
.icon-empty-rack:before {
  content: "Y";
}
.icon-email:before {
  content: "Z";
}
.icon-gaming:before {
  content: "0";
}
.icon-global:before {
  content: "1";
}
.icon-google:before {
  content: "2";
}
.icon-graph:before {
  content: "3";
}
.icon-hands-and-eyes:before {
  content: "4";
}
.icon-hr:before {
  content: "5";
}
.icon-hybrid-cloud:before {
  content: "6";
}
.icon-hybrid-it-solution:before {
  content: "7";
}
.icon-iaas:before {
  content: "8";
}
.icon-improved-network-performance:before {
  content: "9";
}
.icon-innovation:before {
  content: "!";
}
.icon-internap:before {
  content: "\"";
}
.icon-internet:before {
  content: "#";
}
.icon-network-rack:before {
  content: "$";
}
.icon-network-coverage:before {
  content: "%";
}
.icon-mrr:before {
  content: "&";
}
.icon-mobile-phone:before {
  content: "'";
}
.icon-mobile-advertising:before {
  content: "(";
}
.icon-microsoft-azure:before {
  content: ")";
}
.icon-marketplace:before {
  content: "*";
}
.icon-linkedin:before {
  content: "+";
}
.icon-laptop:before {
  content: ",";
}
.icon-ipv6:before {
  content: "-";
}
.icon-inventory:before {
  content: ".";
}
.icon-intranet:before {
  content: "/";
}
.icon-internet-exchange:before {
  content: ":";
}
.icon-online-display:before {
  content: ";";
}
.icon-orders:before {
  content: "<";
}
.icon-paas:before {
  content: "=";
}
.icon-post-production:before {
  content: ">";
}
.icon-precabling:before {
  content: "?";
}
.icon-private-cloud:before {
  content: "@";
}
.icon-private-connection:before {
  content: "[";
}
.icon-production:before {
  content: "]";
}
.icon-public-cloud:before {
  content: "^";
}
.icon-rack-server:before {
  content: "_";
}
.icon-reliable:before {
  content: "`";
}
.icon-router:before {
  content: "{";
}
.icon-saas:before {
  content: "|";
}
.icon-switch:before {
  content: "}";
}
.icon-sustainability:before {
  content: "~";
}
.icon-storage:before {
  content: "\\";
}
.icon-speed:before {
  content: "\e000";
}
.icon-softlayer:before {
  content: "\e001";
}
.icon-service:before {
  content: "\e002";
}
.icon-server-rack:before {
  content: "\e003";
}
.icon-secure-connection:before {
  content: "\e004";
}
.icon-secure:before {
  content: "\e005";
}
.icon-search:before {
  content: "\e006";
}
.icon-scalability:before {
  content: "\e007";
}
.icon-satelite-dish:before {
  content: "\e008";
}
.icon-systems-integrator:before {
  content: "\e009";
}
.icon-tablet:before {
  content: "\e00a";
}
.icon-technical-excellence:before {
  content: "\e00b";
}
.icon-temporary-access:before {
  content: "\e00c";
}
.icon-testing:before {
  content: "\e00d";
}
.icon-tv:before {
  content: "\e00e";
}
.icon-twitter:before {
  content: "\e00f";
}
.icon-usb:before {
  content: "\e010";
}
.icon-share:before {
  content: "\e011";
}
.icon-users:before {
  content: "\e012";
}
.icon-video:before {
  content: "\e013";
}
.icon-virtual-desktops:before {
  content: "\e014";
}
.icon-wan:before {
  content: "\e015";
}
.icon-wifi:before {
  content: "\e016";
}
.icon-wifi-modem:before {
  content: "\e017";
}
