/* ----------------------------- */
/* ==main nav                    */
/* ----------------------------- */

.main-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-nav__item {
	position: relative;
}

.main-nav__toggle {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	z-index: -1;
	opacity: 0;
}

.main-nav__sublevel {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	max-height: 0.1px;
	transition: max-height 350ms ease-in-out;

	.main-nav__toggle:checked ~ & {
		max-height: 100vh;
	}
}

.main-nav__section {
	border: 1px solid #bbdceb;
	margin-bottom: 1em;
}

.main-nav__name {
	padding-left: 0.5rem;
	display: block;
	cursor: pointer;

	&:hover {
		background-color: #ccc;
	}

	&.-level01 {
		text-transform: uppercase;
		padding: 0.75em 0.5rem;
		background-color: #2c5c8c;
		display: block;

		font-size: 12px;
	}

	&.-level02 {
		display: block;
		padding: 0.25rem 0.5rem;

		font-size: 13px; //computed size on current version is 12.35px

	}

	&.-level03 {
		display: block;
		padding: 0.25rem 0.5rem;

		font-size: 12px; //computed size on current version is 11.4px
	}
}


.main-nav__icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	position: relative;
	color: #428bca;

	transition: transform 100ms ease-in-out;

	.main-nav__name.-level01 & {
		color: #fff;
	}

	.main-nav__name.-level03 & {
		display: none;
	}

	.main-nav__toggle:checked ~ .main-nav__name > &[class*="zmdi-caret"] {
		transform: rotate(90deg);
	}

	&:before {
		position: absolute;
		top: 50%;
		font-size: 16px;
		margin-top: -8px;
		width: 16px;
		text-align: center;
	}
}

.main-nav__link {
	display: block;
	text-decoration: none;

	&.-with-toggle {
		display: inline-block;
	}

	.main-nav__name.-level01 & {
		color: #fff;
	}

	.main-nav__name.-level02 & {
		color: #428bca;
	}

	.main-nav__name.-level03 & {
		color: #000;
		padding-left: 20px;
	}
}