/* -------------------------------------------------------- */
/* ==styles to mimic or copy from legacy styling            */
/* -------------------------------------------------------- */

.legacy-content-box {
	border-radius: 5px;

	&.-blue01 {
		background-color: rgba(217, 234, 238, 1);
		border: 1px solid rgba(200, 219, 234, 1);
		padding: 1em;
	}

	&.-width01 {
		width: 480px;
	}	

	&.-centered {
		margin-left: auto;
		margin-right: auto;
	}
}