/* ----------------------------- */
/* ==legacy tooltip              */
/* ----------------------------- */

.legacy-tooltip {
	display: inline-block;
	vertical-align: middle;
	background: url("../img/legacy-tooltip.png") 0 0 no-repeat;
	width: 21px;
	height: 21px;
	cursor: pointer;
}