/* ----------------------------------- */
/* ==prototype-only interaction        */
/* ----------------------------------- */
.form-item__warning {
	display: none;
}

#proto-only-validation-test:valid {
	& ~ .form-item__warning {
		display: block;
	}
}



.proto-only__menu-wrapper {
	width: 240px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}
