<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>{% block title %} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/styles.css" media="all">

		<!-- Google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="page">
		<header class="page-header">
			This is the header
		</header>

		<div class="page-body">
			<!-- You write code for this content block in another file -->
		  {% block content %} {% endblock %}
		</div>

		<footer class="page-footer">
			This is the footer
		</footer>
	</div>
	

	<script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>