/* ----------------------------- */
/* ==variables                   */
/* ----------------------------- */
/* --------------------------------- */
/* ==global mixins                   */
/* --------------------------------- */
/* -------------------------------------------------------- */
/*! ==normalize.css v3.0.2 | MIT License | git.io/normalize */
/* -------------------------------------------------------- */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* ----------------------------- */
/* == soft reset                 */
/* ----------------------------- */
/* switching to border-box model for all elements */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}
/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */
/* for html tag styling like html, body, h1... */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #8bd0e9;
}
body {
  font-size: 0.75rem;
}
/* ----------------------------- */
/* ==components                  */
/* ----------------------------- */
.page-content {
  max-width: 980px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
.page-content:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1000px) {
  .page-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.main-content {
  float: right;
  width: calc(100% - 180px - 1em);
  border: 1px solid red;
}
@media only screen and (max-width: 1000px) {
  .main-content {
    width: 100%;
  }
}
.main-sidebar {
  width: 180px;
}
@media only screen and (max-width: 1000px) {
  .main-sidebar {
    width: 100%;
  }
}
.portal-menu {
  position: relative;
  background-color: #FFF;
}
.portal-menu:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1000px) {
  .portal-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
@media only screen and (min-width: 1001px) {
  .portal-menu__main-group {
    border: 1px solid #b3e0f0;
    border-width: 0 0 1px 0;
  }
  .portal-menu__main-group:first-child {
    border-width: 1px 0;
  }
}
@media only screen and (max-width: 1000px) {
  .portal-menu__main-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    border: 1px solid #b3e0f0;
    border-width: 0 1px 0 0;
  }
  .portal-menu__main-group:first-child {
    border-width: 0 1px;
  }
}
.portal-menu__main-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f5fa), to(#e6f5fa)) 0 0 / 2.5em 100% no-repeat;
  background: -o-linear-gradient(#e6f5fa, #e6f5fa) 0 0 / 2.5em 100% no-repeat;
  background: linear-gradient(#e6f5fa, #e6f5fa) 0 0 / 2.5em 100% no-repeat;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 650px) {
  .portal-menu__main-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 0;
    text-align: center;
    background-size: 100% 2.5em;
  }
}
.portal-menu__main-item:not(.-no-submenu):before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E%3Cpolygon fill=%22%230099CC%22 fill-rule=%22evenodd%22 points=%229 6 3 10 3 2%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
@media only screen and (max-width: 650px) {
  .portal-menu__main-item:not(.-no-submenu):before {
    top: .75em;
    right: calc(50% - 2em);
  }
}
.portal-menu__main-item:not(.-no-submenu).-is-open {
  background-color: #f5faec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0efc5), to(#e0efc5));
  background-image: -o-linear-gradient(#e0efc5, #e0efc5);
  background-image: linear-gradient(#e0efc5, #e0efc5);
}
.portal-menu__main-item:not(.-no-submenu).-is-open:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.portal-menu__main-item:hover {
  background-color: #e6f5fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccebf5), to(#ccebf5));
  background-image: -o-linear-gradient(#ccebf5, #ccebf5);
  background-image: linear-gradient(#ccebf5, #ccebf5);
}
.portal-menu__item-icon {
  height: 2.5em;
  width: 2.5em;
}
@media only screen and (max-width: 650px) {
  .portal-menu__item-icon {
    width: 100%;
  }
}
.portal-menu__icon-svg {
  max-height: 100%;
  max-width: 100%;
}
.portal-menu__main-item-name {
  width: calc(100% - 2.5em);
  padding: 0.5em 0.25em;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1.2;
}
@media only screen and (max-width: 650px) {
  .portal-menu__main-item-name {
    font-size: 0.625rem;
    width: 100%;
  }
}
.portal-menu__main-item.-is-active-item .portal-menu__main-item-name {
  color: #007399;
}
.portal-menu__submenu {
  display: none;
  overflow: hidden;
  height: 0;
  border: 1px solid #f7f8f8;
  border-width: 1px 1px 0;
  -webkit-transition: height 250ms ease-in-out;
  -o-transition: height 250ms ease-in-out;
  transition: height 250ms ease-in-out;
}
.portal-menu__submenu.-is-open {
  display: block;
  height: auto;
  background-color: #fff;
}
@media only screen and (max-width: 1000px) {
  .portal-menu__submenu {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .portal-menu__submenu.-is-open ~ .portal-menu__submenu {
    z-index: 10;
  }
}
.portal-menu__sub-item {
  display: block;
  padding-left: 0.5em;
  border: 1px solid #F7F8F8;
  border-width: 0 0 1px;
  text-decoration: none;
}
@media only screen and (min-width: 1001px) {
  .portal-menu__sub-item {
    padding-left: 2.75em;
  }
}
.portal-menu__sub-item:not(.-is-heading) {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-right: 0.5em;
  cursor: pointer;
  color: #707070;
}
.portal-menu__sub-item:not(.-is-heading):hover {
  background-color: #e6f5fa;
}
.portal-menu__sub-item.-is-heading {
  position: relative;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 1em;
  background-color: #F7F8F8;
  cursor: default;
  color: #2984ab;
  text-transform: uppercase;
}
.portal-menu__sub-item.-is-heading:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.5em;
  width: 1em;
  height: 1em;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E%3Cpolygon fill=%22%23BEC6C6%22 fill-rule=%22evenodd%22 points=%229 6 3 10 3 2%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.portal-menu__sub-item.-is-active-item {
  color: #09c;
  font-weight: bold;
  background-color: #f7fcfd;
}
/* -------------------------------------- */
/* ==for the dirty code                   */
/* -------------------------------------- */
.flex-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #FFF;
}
.flex-test > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.333%;
}
.flex-test__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: pink;
}
/* -------------------------------------- */
/* ==utility classes                      */
/* -------------------------------------- */
/* the only place where the use of !important may be tolerated */

/*# sourceMappingURL=../css/styles.css.map */
