{% extends "layout.html" %}

{% block title %}UI Controls{% endblock %}

{% block content %}
<section class="page-section">
	<ul class="form-pills">
	    <li class="form-pills__item">
	        <label>
	            <input type="radio" name="pill-options" class="form-pills__input">
	            <span class="form-pills__label">Choice 1</span>
	        </label>
	    </li>

	    <li class="form-pills__item">
	        <label>
	            <input type="radio" name="pill-options" class="form-pills__input">
	            <span class="form-pills__label">Choice 2</span>
	        </label>
	    </li>

	    <li class="form-pills__item">
	        <label>
	            <input type="radio" name="pill-options" class="form-pills__input">
	            <span class="form-pills__label">Choice 3</span>
	        </label>
	    </li>
	</ul>
</section>

<section class="page-section">
	<ul class="form-pills">
	    <li class="form-pills__item">
	        <label>
	            <input type="checkbox" name="pill-options" class="form-pills__input">
	            <span class="form-pills__label">Option A</span>
	        </label>
	    </li>

	    <li class="form-pills__item">
	        <label>
	            <input type="checkbox" name="pill-options" class="form-pills__input">
	            <span class="form-pills__label">Option B</span>
	        </label>
	    </li>

	    <li class="form-pills__item">
	        <label>
	            <input type="checkbox" name="pill-options" class="form-pills__input">
	            <span class="form-pills__label">Option C</span>
	        </label>
	    </li>
	</ul>
</section>

<section class="page-section">
	<div class="collapsible-item switchable-section">
    <header class="collapsible-item__always-on switchable-section__header">
      <span class="switchable-section__heading">The first section</span>
      
      <label class="switchable-section__trigger switch">
        <input type="checkbox" class="switch__input" />
        <span class="collapsible-item__trigger switch__graphic"></span>
      </label>
    </header>
    
    <div class="collapsible-item__expanding-shell">
      <div class="collapsible-item__hideable-content switchable-section__content">
        Content here
      </div>
    </div>
  </div>
	  
  <div class="collapsible-item switchable-section">
    <header class="collapsible-item__always-on switchable-section__header">
      <span class="switchable-section__heading">The second section</span>
      
      <label class="switchable-section__trigger switch">
        <input type="checkbox" class="switch__input" />
        <span class="collapsible-item__trigger switch__graphic"></span>
      </label>
    </header>
    
    <div class="collapsible-item__expanding-shell">
      <div class="collapsible-item__hideable-content switchable-section__content">
        Content here
      </div>
    </div>
  </div>
</section>

{% endblock %}