<!-- @@master  = __master.html {"title":"CSS Menu"}-->

<!-- @@block  =  content-->
	<div class="proto-only__menu-wrapper">
		<ul class="main-nav">
			<li class="main-nav__item main-nav__section">
				<input type="checkbox" checked="checked" class="main-nav__toggle" id="temp-lv01it01">
				<label for="temp-lv01it01" class="main-nav__name -level01">
					<i class="main-nav__icon zmdi zmdi-caret-right"></i>
					<a href="#" class="main-nav__link -with-toggle">Dashboard</a>
				</label>
				
				<ul class="main-nav__sublevel">
					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it01-lv02it01">
						<label for="temp-lv01it01-lv02it01" class="main-nav__name -level02">					
							<a href="#" class="main-nav__link"><i class="main-nav__icon zmdi zmdi-caret-right"></i> Cases</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it01-lv02it02">
						<label for="temp-lv01it01-lv02it02" class="main-nav__name -level02">
							<a href="#" class="main-nav__link"><i class="main-nav__icon zmdi zmdi-caret-right"></i> Orders</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it01-lv02it03">
						<label for="temp-lv01it01-lv02it03" class="main-nav__name -level02">
							<i class="main-nav__icon zmdi zmdi-caret-right"></i>
							<a href="#" class="main-nav__link -with-toggle">Inventory</a>
						</label>
						
						<ul class="main-nav__sublevel">
							<li class="main-nav__item">
								<input type="checkbox" class="main-nav__toggle" id="temp-lv01it01-lv02it03-lv03it01">
								<label for="temp-lv01it01-lv02it03-lv03it01" class="main-nav__name -level03">
									<i class="main-nav__icon"></i>
									<a href="#" class="main-nav__link">Overview</a>
								</label>
							</li>

							<li class="main-nav__item -level03">
								<input type="checkbox" class="main-nav__toggle" id="temp-lv01it01-lv02it03-lv03it02">
								<label for="temp-lv01it01-lv02it03-lv03it02" class="main-nav__name -level03">
									<i class="main-nav__icon"></i>
									<a href="#" class="main-nav__link">Cloud Access</a>
								</label>
							</li>

							<li class="main-nav__item -level03">
								<input type="checkbox" class="main-nav__toggle" id="temp-lv01it01-lv02it03-lv03it03">
								<label for="temp-lv01it01-lv02it03-lv03it03" class="main-nav__name -level03">
									<i class="main-nav__icon"></i>
									<a href="#" class="main-nav__link">Cloud Service</a>
								</label>
							</li>
						</ul>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it01-lv02it04">
						<label for="temp-lv01it01-lv02it04" class="main-nav__name -level02">
							<a href="#" class="main-nav__link"><i class="main-nav__icon zmdi zmdi-caret-right"></i> Notifications</a>
						</label>
					</li>
				</ul>
			</li>

			<li class="main-nav__item main-nav__section">
				<input type="checkbox" checked="checked" class="main-nav__toggle" id="temp-lv01it02">
				<label for="temp-lv01it02" class="main-nav__name -level01">
					<i class="main-nav__icon zmdi zmdi-caret-right"></i>
					<a href="#" class="main-nav__link -with-toggle">Create New Item</a>
				</label>
				
				<ul class="main-nav__sublevel">
					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it01">
						<label for="temp-lv01it02-lv02it01" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-backup"></i>
								Temporary Access
							</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it02">
						<label for="temp-lv01it02-lv02it02" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-delivery-and-removal"></i>
								Delivery and Removal
							</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it03">
						<label for="temp-lv01it02-lv02it03" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-hands-and-eyes"></i>
								Hands &amp; Eyes
							</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it04">
						<label for="temp-lv01it02-lv02it04" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-contact-management"></i>
								Contact Management
							</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it05">
						<label for="temp-lv01it02-lv02it05" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-customers-enquiry"></i>
								Customer Enquiry
							</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it06">
						<label for="temp-lv01it02-lv02it06" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-precabling"></i>
								Pre-cabling
							</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it07">
						<label for="temp-lv01it02-lv02it07" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-cross-connect"></i>
								Cross Connects
							</a>
						</label>
					</li>

					<li class="main-nav__item">
						<input type="checkbox" class="main-nav__toggle" id="temp-lv01it02-lv02it08">
						<label for="temp-lv01it02-lv02it08" class="main-nav__name -level02">
							<a href="#" class="main-nav__link">
								<i class="main-nav__icon icon-cloud-connect"></i>
								Cloud Connect
							</a>
						</label>
					</li>
				</ul>
			</li>

			<li class="main-nav__item main-nav__section">
				<input type="checkbox" checked="checked" class="main-nav__toggle" id="temp-lv01it03">
				<label for="temp-lv01it03" class="main-nav__name -level01">
					<i class="main-nav__icon zmdi zmdi-caret-right"></i>
					<a href="#" class="main-nav__link -with-toggle">Communities</a>
				</label>

				<ul class="main-nav__sublevel">
					<li class="main-nav__item" id="temp-lv01it03-lv02it03-lv03it01">
						<input type="text" class="main-nav__toggle">
						<label for="temp-lv01it03-lv02it03-lv03it01" class="main-nav__name -level02">
							<a href="" class="main-nav__link">
								<i class="main-nav__icon icon-marketplace"></i>
								Marketplace
							</a>
						</label>
					</li>

					<li class="main-nav__item" id="temp-lv01it03-lv02it03-lv03it02">
						<input type="text" class="main-nav__toggle">
						<label for="temp-lv01it03-lv02it03-lv03it02" class="main-nav__name -level02">
							<a href="" class="main-nav__link">
								<i class="main-nav__icon icon-carriers"></i>
								Carrier-list
							</a>
						</label>
					</li>

					<li class="main-nav__item" id="temp-lv01it03-lv02it03-lv03it03">
						<input type="text" class="main-nav__toggle"><label for="temp-lv01it03-lv02it03-lv03it03" class="main-nav__name -level02">
							<a href="" class="main-nav__link">
								<i class="main-nav__icon icon-exchange"></i>
								Internet Exchanges

							</a>
						</label>
					</li>
				</ul>
			</li>

			<li class="main-nav__item main-nav__section">
				<input type="checkbox" checked="checked" class="main-nav__toggle" id="temp-lv01it04">
				<label for="temp-lv01it04" class="main-nav__name -level01">
					<i class="main-nav__icon zmdi zmdi-caret-right"></i>
					<a href="#" class="main-nav__link -with-toggle">Knowledge Base</a>
				</label>

				<ul class="main-nav__sublevel">
					<li class="main-nav__item" id="temp-lv01it03-lv02it04-lv03it01">
						<input type="text" class="main-nav__toggle">
						<label for="temp-lv01it03-lv02it04-lv03it01" class="main-nav__name -level02">
							<a href="" class="main-nav__link">
								<i class="main-nav__icon zmdi zmdi-help-outline"></i>
								FAQ
							</a>
						</label>
					</li>

					<li class="main-nav__item" id="temp-lv01it03-lv02it04-lv03it02">
						<input type="text" class="main-nav__toggle">
						<label for="temp-lv01it03-lv02it04-lv03it02" class="main-nav__name -level02">
							<a href="" class="main-nav__link">
								<i class="main-nav__icon zmdi zmdi-file-text"></i>
								User Guide
							</a>
						</label>
					</li>

					<li class="main-nav__item" id="temp-lv01it03-lv02it04-lv03it03">
						<input type="text" class="main-nav__toggle">
						<label for="temp-lv01it03-lv02it04-lv03it03" class="main-nav__name -level02">
							<a href="" class="main-nav__link">
								<i class="main-nav__icon icon-precabling"></i>
								Precabling Info
							</a>
						</label>
					</li>
				</ul>
			</li>
		</ul>
	</div>
<!-- @@close-->