<!-- @@master  = __master.html {"title":"My static page"}-->

<!-- @@block  =  content-->
	<div class="legacy-content-box -blue01 -width01 -centered">
		<h1 class="h2-like">Form validation error</h1>
		<div>
			<input type="text" pattern="[bes].{3,}" required id="proto-only-validation-test" class="form-item__field -with-tooltip">
			<span class="legacy-tooltip">?</span>
			
			<div class="form-item__warning">
				the warning message for validation
			</div>
		</div>
	</div>
<!-- @@close-->