<!-- @@master  = __master.html {"title":"My static page"}-->

<!-- @@block  =  content-->
	<h1>Hello</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae sed autem quae, delectus ipsa esse expedita inventore architecto, cumque iure necessitatibus ex. Sit alias asperiores labore placeat, dolore possimus.</p>
<!-- @@close-->