<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>{% block title %} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
		<link rel="stylesheet" href="css/styles.css" media="all">

</head>
<body>
	<div class="page">
		
		<header class="page-header">
			<div class="content-width">
				<div class="page-header__logo-area">
					<img src="img/interxion-logo.svg" alt="" class="page-header__logo">
					<span class="page-header__portal-name">Customer Portal</span>
				</div>

			</div>
		</header>

		<div class="page-body">
			<div class="page-body__content content-width">
				<!-- You write code for this content block in another file -->
		  	{% block content %} {% endblock %}
			</div>
		</div>
		
		<footer class="page-footer">
			<div class="content-width">
				Footer here
			</div>
		</footer>
	</div>

	<script src="js/scripts.js" type="text/javascript"></script> 
	
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>