<div class="title-bar">
	<h1 class="page-title">Ports Inventory</h1>

	<label for="toggle-export-inventory" class="small-btn u-float-right">Export</label>

</div>

<input type="checkbox" id="toggle-export-inventory" class="sliding-panel-trigger">
<div class="sliding-panel export-inventory-details">
	<h2 class="section-heading">The export details</h2>
	<label for="toggle-export-inventory" class="secondary-small-btn">Close</label>
</div>

<div class="secondary-section">
	<div class="form-item">
		<label for="inventorySearch" class="form-item__label">Search (ID, location...)</label>
		<input type="text" id="inventorySearch" name="inventorySearch" class="form-item__default-input">
	</div>

	<div class="proto-only-log-box"></div>
	<div class="proto-only-log-box"></div>
	<div class="proto-only-log-box"></div>

	<div>
		<h2 class="default-label">Filter by</h2>
		<div class="inventory-filters-list">
			<label class="form-choice-item inventory-filters-list__item">
				<input type="checkbox" name="inventoryFiltersChoice" id="inventoryFiltersChoice__footprint" class="form-choice-item__input -is-centered">
				<span class="form-choice-item__label">Footprint</span>
			</label>

			<label class="form-choice-item inventory-filters-list__item">
				<input type="checkbox" name="inventoryFiltersChoice" id="inventoryFiltersChoice__circuitType" class="form-choice-item__input -is-centered">
				<span class="form-choice-item__label">Circuit Type</span>
			</label>

			<label class="form-choice-item inventory-filters-list__item">
				<input type="checkbox" name="inventoryFiltersChoice" id="inventoryFiltersChoice__mediaType" class="form-choice-item__input -is-centered">
				<span class="form-choice-item__label">Media Type</span>
			</label>

			<label class="form-choice-item inventory-filters-list__item">
				<input type="checkbox" name="inventoryFiltersChoice" id="inventoryFiltersChoice__status" class="form-choice-item__input -is-centered">
				<span class="form-choice-item__label">Status</span>
			</label>
		</div>

		<div class="inventory-filters-controls">
			<div class="inventory-filters-controls__item" id="inventoryFiltersControls__footprint">
				<div class="inventory-filters-controls__content">
					<h3 class="default-label u-margin-top-small">Controls for footprint</h3>
					<p>Nothing to see yet</p>


				</div>
			</div>

			<div class="inventory-filters-controls__item" id="inventoryFiltersControls__circuitType">
				<div class="inventory-filters-controls__content">
					<h3 class="default-label u-margin-top-small">Circuit Type</h3>
					
					<ul class="radio-pills">
						<li class="radio-pills__item u-margin-bottom-small">
							<label>
								<input type="radio" checked="checked" name="inventoryFilterCircuitType" id="inventoryFiltersCircuitType__all" class="radio-pills__input">
								<span class="radio-pills__label">All</span>
							</label>
						</li>

						{% for filter, ports in inventory | groupby("circuitType") %}
						<li class="radio-pills__item u-margin-bottom-small">
							<label>
								<input type="radio" name="inventoryFilterCircuitType" id="inventoryFilterCircuitType__{{ filter | replace(' ', '') | replace('-', '') }}" class="radio-pills__input">
								<span class="radio-pills__label">{{filter}}</span>
							</label>
						</li>
						{% endfor %}

					</ul>
				</div>
			</div>

			<div class="inventory-filters-controls__item" id="inventoryFiltersControls__mediaType">
				<div class="inventory-filters-controls__content">
					<h3 class="default-label u-margin-top-small">Media Type</h3>
					
					<ul class="radio-pills">
						<li class="radio-pills__item u-margin-bottom-small">
							<label>
								<input type="radio" checked="checked" name="inventoryFilterMediaType" id="inventoryFilterMediaType__all" class="radio-pills__input">
								<span class="radio-pills__label">All</span>
							</label>
						</li>

						{% for filter, ports in inventory | groupby("mediaType") %}
						{% if filter != "" %}
						<li class="radio-pills__item u-margin-bottom-small">
							<label>
								<input type="radio" name="inventoryFilterMediaType" id="inventoryFilterMediaType__{{ filter | replace(' ', '') | replace('-', '') }}" class="radio-pills__input">
								<span class="radio-pills__label">{{filter}}</span>
							</label>
						</li>
						{% endif %}
						{% endfor %}

						<li class="radio-pills__item u-margin-bottom-small">
							<label>
								<input type="radio" name="inventoryFilterMediaType" id="inventoryFilterMediaType__unknown" class="radio-pills__input">
								<span class="radio-pills__label">Unknown</span>
							</label>
						</li>

					</ul>
				</div>
			</div>

			<div class="inventory-filters-controls__item" id="inventoryFiltersControls__status">
				<div class="inventory-filters-controls__content">
					<h3 class="default-label u-margin-top-small">Status</h3>
					
					<ul class="radio-pills">
						<li class="radio-pills__item u-margin-bottom-small">
							<label>
								<input type="radio" checked="checked" name="inventoryFilterStatus" id="inventoryFilterStatus__all" class="radio-pills__input">
								<span class="radio-pills__label">All</span>
							</label>
						</li>

						{% for filter, ports in inventory | groupby("status") %}
						<li class="radio-pills__item u-margin-bottom-small">
							<label>
								<input type="radio" name="inventoryFilterStatus" id="inventoryFilterStatus__{{ filter | replace(' ', '') | replace('-', '') }}" class="radio-pills__input">
								<span class="radio-pills__label">{{filter}}</span>
							</label>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	</div>
	
</div>

<div class="u-padding-small">
	<h2 class="sub-section-heading">
		<span class="initial-inventory-heading">
			{{inventory | length}} ports in inventory
		</span>
		<span class="updated-inventory-heading">Some ports are displayed. Details to come</span>
	</h2>
	
	<input type="radio" name="portsInventory" id="no-port-inventory-selected" class="sliding-panel-trigger">
	<ul class="ports-inventory">
		{% for port in inventory %}
		<li class="ports-inventory__item">
			<input type="radio" name="portsInventory" id="port-inventory-item-{{loop.index}}" class="sliding-panel-trigger">

			<label for="port-inventory-item-{{loop.index}}" class="ports-inventory__bar">
				<div class="ports-inventory__displayed-criteria">
					{{port.circuitId}} - {{port.circuitType}}
				</div>

				<div class="ports-inventory__dynamic-criteria">
					{% for key, value in port %}<span class="ports-inventory__criteria -{{key}}">{{key}}: {{value}} - </span>{% endfor %}
				</div>
			</label>

			<div class="sliding-panel ports-inventory__details-wrapper">
				<div class="ports-inventory__details">
					<h2 class="section-heading">The details of the port</h2>
					<label for="no-port-inventory-selected" class="secondary-small-btn">Close</label>

					{% for key, value in port %}
					<p class="default-label">{{key}} :</p>
					<p class="u-margin-bottom-medium">{{value}}</p>
					{% endfor %}

				</div>
			</div>
		</li>

		{% endfor %}
	</ul>

</div>