{% extends "layout.html" %}

{% block title %}Inventory{% endblock %}



{% block content %}

<main class="main-content">
	{% include "partials/inventory-module.html" %}
</main>

<aside class="main-sidebar">
	{% import 'macros/nav-macro.html' as nav %}
	{{nav.active('home')}}
</aside>

{% endblock %}