{% extends "layout.html" %}

{% block title %}Skeuomorphic Demarcation Drilldown{% endblock %}

{% block content %}
<div class="wrapper">

  <div class="port-finder">
    
    <div class="port-finder__section -is-current -is-open">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Site</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details demarc-drilldown__site-selection">
    			<label class="port-finder__item demarc-drilldown__site-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="LON1">
    				<div class="demarc-drilldown__site-graphic"></div>
    				<div class="demarc-drilldown__site-name">LON1</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__site-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="LON2">
    				<div class="demarc-drilldown__site-graphic"></div>
    				<div class="demarc-drilldown__site-name">LON2</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__site-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="LON3">
    				<div class="demarc-drilldown__site-graphic"></div>
    				<div class="demarc-drilldown__site-name">LON3</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__site-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="AMS3">
    				<div class="demarc-drilldown__site-graphic"></div>
    				<div class="demarc-drilldown__site-name">AMS3</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__site-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="AMS4">
    				<div class="demarc-drilldown__site-graphic"></div>
    				<div class="demarc-drilldown__site-name">AMS4</div>
    			</label>
    		</div>
      </div>
    </div>

    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Floor</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details demarc-drilldown__floor-selection">
					<label class="port-finder__item demarc-drilldown__floor-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="floorSelection" value="F01">
						<div class="demarc-drilldown__floor-graphic"></div>
						<div class="demarc-drilldown__floor-name">F01</div>
					</label>

					<label class="port-finder__item demarc-drilldown__floor-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="floorSelection" value="F02">
						<div class="demarc-drilldown__floor-graphic"></div>
						<div class="demarc-drilldown__floor-name">F02</div>
					</label>
				</div>
      </div>
    </div>
    
    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Room</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details demarc-drilldown__room-selection">
    			<label class="port-finder__item demarc-drilldown__room-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R23">
    				<div class="demarc-drilldown__room-graphic"></div>
    				<div class="demarc-drilldown__room-name">123</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__room-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R24">
    				<div class="demarc-drilldown__room-graphic"></div>
    				<div class="demarc-drilldown__room-name">124</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__room-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R25">
    				<div class="demarc-drilldown__room-graphic"></div>
    				<div class="demarc-drilldown__room-name">125</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__room-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R26">
    				<div class="demarc-drilldown__room-graphic"></div>
    				<div class="demarc-drilldown__room-name">126</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__room-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R27">
    				<div class="demarc-drilldown__room-graphic"></div>
    				<div class="demarc-drilldown__room-name">127</div>
    			</label>
    		</div>
      </div>
    </div>
    
    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Cage</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details demarc-drilldown__cage-selection">
    			<label class="port-finder__item demarc-drilldown__cage-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C3">
    				<div class="demarc-drilldown__cage-graphic"></div>
    				<div class="demarc-drilldown__cage-name">C3</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__cage-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C4">
    				<div class="demarc-drilldown__cage-graphic"></div>
    				<div class="demarc-drilldown__cage-name">C4</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__cage-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C5">
    				<div class="demarc-drilldown__cage-graphic"></div>
    				<div class="demarc-drilldown__cage-name">C5</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__cage-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C6">
    				<div class="demarc-drilldown__cage-graphic"></div>
    				<div class="demarc-drilldown__cage-name">C6</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__cage-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C7">
    				<div class="demarc-drilldown__cage-graphic"></div>
    				<div class="demarc-drilldown__cage-name">C7</div>
    			</label>
    		</div>
      </div>
    </div>
    
    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Row</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details demarc-drilldown__row-selection">
					<label class="port-finder__item demarc-drilldown__row-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R7">
						<div class="demarc-drilldown__row-graphic"></div>
						<div class="demarc-drilldown__row-name">R7</div>
					</label>

					<label class="port-finder__item demarc-drilldown__row-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R8">
						<div class="demarc-drilldown__row-graphic"></div>
						<div class="demarc-drilldown__row-name">R8</div>
					</label>

					<label class="port-finder__item demarc-drilldown__row-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R9">
						<div class="demarc-drilldown__row-graphic"></div>
						<div class="demarc-drilldown__row-name">R9</div>
					</label>

					<label class="port-finder__item demarc-drilldown__row-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R10">
						<div class="demarc-drilldown__row-graphic"></div>
						<div class="demarc-drilldown__row-name">R10</div>
					</label>

					<label class="port-finder__item demarc-drilldown__row-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R11">
						<div class="demarc-drilldown__row-graphic"></div>
						<div class="demarc-drilldown__row-name">R11</div>
					</label>
				</div>
      </div>
    </div>

    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Cabinet</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details demarc-drilldown__cabinet-selection">
					<label class="port-finder__item demarc-drilldown__cabinet-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="B2">
						<div class="demarc-drilldown__cabinet-graphic"></div>
						<div class="demarc-drilldown__cabinet-name">B2</div>
					</label>

					<label class="port-finder__item demarc-drilldown__cabinet-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="B3">
						<div class="demarc-drilldown__cabinet-graphic"></div>
						<div class="demarc-drilldown__cabinet-name">B3</div>
					</label>

					<label class="port-finder__item demarc-drilldown__cabinet-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="C1">
						<div class="demarc-drilldown__cabinet-graphic"></div>
						<div class="demarc-drilldown__cabinet-name">C1</div>
					</label>

					<label class="port-finder__item demarc-drilldown__cabinet-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="C2">
						<div class="demarc-drilldown__cabinet-graphic"></div>
						<div class="demarc-drilldown__cabinet-name">C2</div>
					</label>

					<label class="port-finder__item demarc-drilldown__cabinet-item custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="C4">
						<div class="demarc-drilldown__cabinet-graphic"></div>
						<div class="demarc-drilldown__cabinet-name">C4</div>
					</label>
				</div>
      </div>
    </div>

    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Panel</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details demarc-drilldown__panel-selection">
    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P01">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P01</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P02">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P02</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P03">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P03</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P04">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P04</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P05">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P05</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P06">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P06</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P07">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P07</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P08">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P08</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P09">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P09</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P10">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P10</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P11">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P11</div>
    			</label>

    			<label class="port-finder__item demarc-drilldown__panel-item custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P12">
    				<div class="demarc-drilldown__panel-graphic"></div>
    				<div class="demarc-drilldown__panel-name">P12</div>
    			</label>
    		</div>
      </div>
    </div>
  
  </div>
  
</div>

{% endblock %}