{% extends "layout.html" %}

{% block title %}Demarcation Drilldown with Pills{% endblock %}

{% block content %}
<div class="wrapper">

  <div class="port-finder">
    
    <div class="port-finder__section -is-current -is-open">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Site</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details port-finder__radio-wrapper">
    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="LON1">
    				<div class="radio-pills__label">LON1</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="LON2">
    				<div class="radio-pills__label">LON2</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="LON3">
    				<div class="radio-pills__label">LON3</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="AMS3">
    				<div class="radio-pills__label">AMS3</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="siteSelection" value="AMS4">
    				<div class="radio-pills__label">AMS4</div>
    			</label>
    		</div>
      </div>
    </div>

    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Floor</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details port-finder__radio-wrapper">
					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="floorSelection" value="F01">
						<div class="radio-pills__label">F01</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="floorSelection" value="F02">
						<div class="radio-pills__label">F02</div>
					</label>
				</div>
      </div>
    </div>
    
    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Room</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details port-finder__radio-wrapper">
    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R23">
    				<div class="radio-pills__label">123</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R24">
    				<div class="radio-pills__label">124</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R25">
    				<div class="radio-pills__label">125</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R26">
    				<div class="radio-pills__label">126</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="roomSelection" value="R27">
    				<div class="radio-pills__label">127</div>
    			</label>
    		</div>
      </div>
    </div>
    
    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Cage</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details port-finder__radio-wrapper">
    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C3">
    				<div class="radio-pills__label">C3</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C4">
    				<div class="radio-pills__label">C4</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C5">
    				<div class="radio-pills__label">C5</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C6">
    				<div class="radio-pills__label">C6</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="cageSelection" value="C7">
    				<div class="radio-pills__label">C7</div>
    			</label>
    		</div>
      </div>
    </div>
    
    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Row</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details port-finder__radio-wrapper">
					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R7">
						<div class="radio-pills__label">R7</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R8">
						<div class="radio-pills__label">R8</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R9">
						<div class="radio-pills__label">R9</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R10">
						<div class="radio-pills__label">R10</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="rowSelection" value="R11">
						<div class="radio-pills__label">R11</div>
					</label>
				</div>
      </div>
    </div>

    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Cabinet</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details port-finder__radio-wrapper">
					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="B2">
						<div class="radio-pills__label">B2</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="B3">
						<div class="radio-pills__label">B3</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="C1">
						<div class="radio-pills__label">C1</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="C2">
						<div class="radio-pills__label">C2</div>
					</label>

					<label class="port-finder__item radio-pills custom-choice-input">
						<input type="radio" class="custom-choice-input__input" name="cabinetSelection" value="C4">
						<div class="radio-pills__label">C4</div>
					</label>
				</div>
      </div>
    </div>

    <div class="port-finder__section">
      <div class="port-finder__section-header">
        <div class="port-finder__inner-header">
          <span class="port-finder__label">Panel</span>
          <span class="port-finder__selected-item -is-hidden"></span>
          <span class="port-finder__unselect-item -is-hidden">Change</span>
        </div>
      </div>
      
      <div class="port-finder__expandable-area">
        <div class="port-finder__section-details port-finder__radio-wrapper">
    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P01">
    				<div class="radio-pills__label">P01</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P02">
    				<div class="radio-pills__label">P02</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P03">
    				<div class="radio-pills__label">P03</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P04">
    				<div class="radio-pills__label">P04</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P05">
    				<div class="radio-pills__label">P05</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P06">
    				<div class="radio-pills__label">P06</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P07">
    				<div class="radio-pills__label">P07</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P08">
    				<div class="radio-pills__label">P08</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P09">
    				<div class="radio-pills__label">P09</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P10">
    				<div class="radio-pills__label">P10</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P11">
    				<div class="radio-pills__label">P11</div>
    			</label>

    			<label class="port-finder__item radio-pills custom-choice-input">
    				<input type="radio" class="custom-choice-input__input" name="panelSelection" value="P12">
    				<div class="radio-pills__label">P12</div>
    			</label>
    		</div>
      </div>
    </div>
  
  </div>
  
</div>

{% endblock %}