{% extends "layout.html" %}

{% block title %}Responsive Menu{% endblock %}

{% block content %}
<div class="page-content">
	<main class="main-content">
		<h1>This is the index page</h1>
		
		This is the main content
		<div class="flex-test">
			
			<div class="flex-test__group">
				<div class="flex-test__item">
					<div class="flex-test__icon">Icon</div>
					<div class="flex-test__label">Label</div>
				</div>
			</div>

			<div class="flex-test__group">
				<div class="flex-test__item">
					<div class="flex-test__icon">Icon</div>
					<div class="flex-test__label">Label Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis necessitatibus non, </div>
				</div>
			</div>

			<div class="flex-test__group">
				<div class="flex-test__item">
					<div class="flex-test__icon">Icon</div>
					<div class="flex-test__label">Label</div>
				</div>
			</div>

		</div>
	</main>

	<aside class="main-sidebar">
		{% include "partials/navigation.html" %}
	</aside>
</div>
{% endblock %}