/* ----------------------------- */
/* ==variables                   */
/* ----------------------------- */
/* --------------------------------- */
/* ==global mixins                   */
/* --------------------------------- */
/* -------------------------------------------------------- */
/*! ==normalize.css v3.0.2 | MIT License | git.io/normalize */
/* -------------------------------------------------------- */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* ----------------------------- */
/* == soft reset                 */
/* ----------------------------- */
/* switching to border-box model for all elements */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
img {
  vertical-align: middle;
}
/* height auto only for non SVG images */
img:not([src$=".svg"]) {
  height: auto;
}
blockquote,
figure {
  margin-left: 0;
  margin-right: 0;
}
/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */
/* for html tag styling like html, body, h1... */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* ----------------------------- */
/* ==components                  */
/* ----------------------------- */
body {
  background-image: -webkit-gradient(linear, left top, right top, from(#354FA4), to(#4F317B));
  background-image: -o-linear-gradient(left, #354FA4, #4F317B);
  background-image: linear-gradient(to right, #354FA4, #4F317B);
}
.wrapper {
  margin: 2em auto;
  padding: 1em;
  width: 95%;
  max-width: 750px;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.16);
}
.custom-choice-input {
  position: relative;
}
.custom-choice-input__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.radio-pills {
  position: relative;
  display: inline-block;
}
.radio-pills__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-pills__label {
  background-color: #f7f8f8;
  border: 1px solid #b3d0e9;
  border-radius: 1.25em;
  color: #9B9B9B;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  display: block;
  cursor: pointer;
}
.radio-pills__label:hover {
  background: #E6F2F8;
  color: #828282;
}
.radio-pills__input[disabled]:not(:checked) + .radio-pills__label,
.radio-pills__input:disabled:not(:checked) + .radio-pills__label,
.custom-choice-input__input[disabled]:not(:checked) + .radio-pills__label,
.custom-choice-input__input:disabled:not(:checked) + .radio-pills__label {
  opacity: 0.5;
  cursor: not-allowed;
}
.radio-pills__input[disabled]:not(:checked) + .radio-pills__label:hover,
.radio-pills__input:disabled:not(:checked) + .radio-pills__label:hover,
.custom-choice-input__input[disabled]:not(:checked) + .radio-pills__label:hover,
.custom-choice-input__input:disabled:not(:checked) + .radio-pills__label:hover {
  background-color: #f7f8f8;
  color: #9B9B9B;
}
.radio-pills__input:checked + .radio-pills__label,
.custom-choice-input__input:checked + .radio-pills__label {
  background-color: #eaf4d8;
  border-color: #99ca3c;
  color: #5c7a24;
}
.port-finder {
  border-bottom: 1px solid lightgrey;
}
.port-finder__section {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.port-finder__section + .port-finder__section {
  border-width: 0 1px 1px;
}
.port-finder__section.-is-open,
.port-finder__section.-is-half-open {
  height: auto;
}
.port-finder__section-header {
  overflow: hidden;
  border: 1px solid lightgrey;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.port-finder__inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.port-finder__action {
  margin-left: auto;
  margin-right: 0.5em;
}
.port-finder__expandable-area {
  overflow: hidden;
  -webkit-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}
.port-finder__section-details {
  border: 1px solid lightgrey;
  border-width: 0 1px;
}
.port-finder__radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.25em;
}
.port-finder__radio-wrapper > .radio-pills {
  margin: 0.25em;
}
.port-finder__label {
  padding: 0.5em;
  width: 5em;
  background-color: ghostwhite;
}
.port-finder__selected-item {
  margin-left: 0.5em;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.port-finder__selected-item.-is-hidden {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}
.port-finder__unselect-item {
  margin-left: auto;
  margin-right: 1em;
  padding: 0.25em 1em;
  background-color: #ff6666;
  border-radius: 4em;
  color: #fff;
  font-size: 0.75em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.port-finder__unselect-item.-is-hidden {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}
.port-finder__unselect-item:hover {
  background-color: red;
}
.plop {
  background: -o-linear-gradient(140.528deg, #76c9d4, #76c9d4) 45% 100% / 1px 88% no-repeat, -o-linear-gradient(#3db2c0, #3db2c0) 44% 50% / 20% 8px no-repeat, -o-linear-gradient(powderBlue, powderBlue) 0 100% / 88% no-repeat, -o-linear-gradient(140.528deg, transparent 0, transparent 6%, #76c9d4 6%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 94%, transparent 94%) 0 0 / 100% no-repeat;
  background: linear-gradient(-50.527540151656176deg, #76c9d4, #76c9d4) 45% 100% / 1px 88% no-repeat, linear-gradient(#3db2c0, #3db2c0) 44% 50% / 20% 8px no-repeat, linear-gradient(powderBlue, powderBlue) 0 100% / 88% no-repeat, linear-gradient(-50.527540151656176deg, transparent 0, transparent 6%, #76c9d4 6%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 94%, transparent 94%) 0 0 / 100% no-repeat;
}
.demarc-drilldown__site-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.demarc-drilldown__site-item {
  margin: 0.5em;
  text-align: center;
}
.demarc-drilldown__site-graphic {
  position: relative;
  height: 3.5em;
  width: 4.25em;
  background: -o-linear-gradient(129.472deg, #fff, #fff) 43% 100% / 16% 20% no-repeat, -o-linear-gradient(129.472deg, white, white 50%, #3db2c0 50%, #3db2c0) 40% 100% / 20% no-repeat, -o-linear-gradient(powderBlue, powderBlue) 0 100% / 80% no-repeat, -o-linear-gradient(129.472deg, transparent 0, transparent 10%, #76c9d4 10%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 90%, transparent 90%) 0 0 / 100% no-repeat;
  background: linear-gradient(-39.472459848343824deg, #fff, #fff) 43% 100% / 16% 20% no-repeat, linear-gradient(-39.472459848343824deg, white, white 50%, #3db2c0 50%, #3db2c0) 40% 100% / 20% no-repeat, linear-gradient(powderBlue, powderBlue) 0 100% / 80% no-repeat, linear-gradient(-39.472459848343824deg, transparent 0, transparent 10%, #76c9d4 10%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 90%, transparent 90%) 0 0 / 100% no-repeat;
}
.demarc-drilldown__site-graphic:before,
.demarc-drilldown__site-graphic:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.demarc-drilldown__site-item:hover > .demarc-drilldown__site-graphic:before {
  background: -o-linear-gradient(129.472deg, #fff, #fff) 43% 100% / 16% 20% no-repeat, -o-linear-gradient(129.472deg, white, white 50%, #318e99 50%, #318e99) 40% 100% / 20% no-repeat, -o-linear-gradient(#89d1da, #89d1da) 0 100% / 80% no-repeat, -o-linear-gradient(129.472deg, transparent 0, transparent 10%, #4fbac7 10%, #4fbac7 50%, #76c9d4 50%, #76c9d4 90%, transparent 90%) 0 0 / 100% no-repeat;
  background: linear-gradient(-39.472459848343824deg, #fff, #fff) 43% 100% / 16% 20% no-repeat, linear-gradient(-39.472459848343824deg, white, white 50%, #318e99 50%, #318e99) 40% 100% / 20% no-repeat, linear-gradient(#89d1da, #89d1da) 0 100% / 80% no-repeat, linear-gradient(-39.472459848343824deg, transparent 0, transparent 10%, #4fbac7 10%, #4fbac7 50%, #76c9d4 50%, #76c9d4 90%, transparent 90%) 0 0 / 100% no-repeat;
  opacity: 1;
}
.custom-choice-input__input:checked ~ .demarc-drilldown__site-graphic:after {
  background: -o-linear-gradient(129.472deg, #fff, #fff) 43% 100% / 16% 20% no-repeat, -o-linear-gradient(129.472deg, white, white 50%, #528952 50%, #528952) 40% 100% / 20% no-repeat, -o-linear-gradient(#a9cba9, #a9cba9) 0 100% / 80% no-repeat, -o-linear-gradient(129.472deg, transparent 0, transparent 10%, #79af79 10%, #79af79 50%, #99c299 50%, #99c299 90%, transparent 90%) 0 0 / 100% no-repeat;
  background: linear-gradient(-39.472459848343824deg, #fff, #fff) 43% 100% / 16% 20% no-repeat, linear-gradient(-39.472459848343824deg, white, white 50%, #528952 50%, #528952) 40% 100% / 20% no-repeat, linear-gradient(#a9cba9, #a9cba9) 0 100% / 80% no-repeat, linear-gradient(-39.472459848343824deg, transparent 0, transparent 10%, #79af79 10%, #79af79 50%, #99c299 50%, #99c299 90%, transparent 90%) 0 0 / 100% no-repeat;
  opacity: 1;
}
.demarc-drilldown__floor-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 1em 0;
}
.demarc-drilldown__floor-item {
  position: relative;
}
.demarc-drilldown__floor-item + .demarc-drilldown__floor-item {
  margin-bottom: -1em;
}
.demarc-drilldown__floor-graphic {
  max-width: 280px;
  width: 70%;
  height: 4em;
  margin: 0 auto;
  background-color: powderBlue;
  border: 3px solid #fff;
  border-width: 3px 5px;
  -webkit-transform: skewX(-40deg);
      -ms-transform: skewX(-40deg);
          transform: skewX(-40deg);
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.demarc-drilldown__floor-item:hover > .demarc-drilldown__floor-graphic {
  background-color: #89d1da;
}
.custom-choice-input__input:checked ~ .demarc-drilldown__floor-graphic {
  background-color: #a9cba9;
}
.demarc-drilldown__floor-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.demarc-drilldown__room-selection {
  overflow: hidden;
  border: 5px solid powderBlue;
  background-color: whiteSmoke;
}
.demarc-drilldown__room-item {
  position: relative;
  width: 40%;
}
.demarc-drilldown__room-item:nth-child(odd) {
  float: left;
  clear: left;
}
.demarc-drilldown__room-item:nth-child(even) {
  float: right;
}
.demarc-drilldown__room-graphic {
  height: 4em;
  background-color: #fff;
  -webkit-box-shadow: 0 -3px 0 powderBlue, -3px 0 0 powderBlue, 0 3px 0 powderBlue, 3px 0 0 powderBlue, -3px 3px 0 powderBlue;
          box-shadow: 0 -3px 0 powderBlue, -3px 0 0 powderBlue, 0 3px 0 powderBlue, 3px 0 0 powderBlue, -3px 3px 0 powderBlue;
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.demarc-drilldown__room-item:hover > .demarc-drilldown__room-graphic {
  background-color: #d7eff2;
}
.custom-choice-input__input:checked ~ .demarc-drilldown__room-graphic {
  background-color: #d8e8d8;
}
.demarc-drilldown__room-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.demarc-drilldown__cage-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 5px solid powderBlue;
  background-color: whiteSmoke;
}
.demarc-drilldown__cage-item {
  position: relative;
  width: 40%;
}
.demarc-drilldown__cage-item:nth-child(odd) {
  margin-left: calc((100% - 40%*2)/2);
}
.demarc-drilldown__cage-item:nth-child(even) {
  margin-right: auto;
}
.demarc-drilldown__cage-item:nth-child(4n + 1),
.demarc-drilldown__cage-item:nth-child(4n + 2) {
  margin-bottom: 3em;
}
.demarc-drilldown__cage-graphic {
  height: 4em;
  background-color: #fff;
  -webkit-box-shadow: 0 -3px 0 powderBlue, -3px 0 0 powderBlue, inset 0 -3px 0 powderBlue, inset -3px 0 0 powderBlue, -3px -3px 0 powderBlue;
          box-shadow: 0 -3px 0 powderBlue, -3px 0 0 powderBlue, inset 0 -3px 0 powderBlue, inset -3px 0 0 powderBlue, -3px -3px 0 powderBlue;
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.demarc-drilldown__cage-item:hover > .demarc-drilldown__cage-graphic {
  background-color: #d7eff2;
}
.custom-choice-input__input:checked ~ .demarc-drilldown__cage-graphic {
  background-color: #d8e8d8;
}
.demarc-drilldown__cage-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.demarc-drilldown__row-selection {
  border: 5px solid powderBlue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
}
.demarc-drilldown__row-item {
  position: relative;
}
.demarc-drilldown__row-graphic {
  height: 4em;
  background-color: #fff;
  -webkit-box-shadow: 0 -3px 0 powderBlue;
          box-shadow: 0 -3px 0 powderBlue;
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.demarc-drilldown__row-item:hover > .demarc-drilldown__row-graphic {
  background-color: #d7eff2;
}
.custom-choice-input__input:checked ~ .demarc-drilldown__row-graphic {
  background-color: #d8e8d8;
}
.demarc-drilldown__row-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.demarc-drilldown__cabinet-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.demarc-drilldown__cabinet-item {
  margin: 0.5em;
  text-align: center;
}
.demarc-drilldown__cabinet-graphic {
  position: relative;
  height: 4.25em;
  width: 3.5em;
  background: -o-linear-gradient(140.528deg, #76c9d4, #76c9d4) 45% 100% / 1px 88% no-repeat, -o-linear-gradient(#3db2c0, #3db2c0) 44% 50% / 20% 8px no-repeat, -o-linear-gradient(powderBlue, powderBlue) 0 100% / 88% no-repeat, -o-linear-gradient(140.528deg, transparent 0, transparent 6%, #76c9d4 6%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 94%, transparent 94%) 0 0 / 100% no-repeat;
  background: linear-gradient(-50.527540151656176deg, #76c9d4, #76c9d4) 45% 100% / 1px 88% no-repeat, linear-gradient(#3db2c0, #3db2c0) 44% 50% / 20% 8px no-repeat, linear-gradient(powderBlue, powderBlue) 0 100% / 88% no-repeat, linear-gradient(-50.527540151656176deg, transparent 0, transparent 6%, #76c9d4 6%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 94%, transparent 94%) 0 0 / 100% no-repeat;
}
.demarc-drilldown__cabinet-graphic:before,
.demarc-drilldown__cabinet-graphic:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.demarc-drilldown__cabinet-item:hover > .demarc-drilldown__cabinet-graphic:before {
  background: -o-linear-gradient(140.528deg, #4fbac7, #4fbac7) 45% 100% / 1px 88% no-repeat, -o-linear-gradient(#318e99, #318e99) 44% 50% / 20% 8px no-repeat, -o-linear-gradient(#89d1da, #89d1da) 0 100% / 88% no-repeat, -o-linear-gradient(140.528deg, transparent 0, transparent 6%, #4fbac7 6%, #4fbac7 50%, #76c9d4 50%, #76c9d4 94%, transparent 94%) 0 0 / 100% no-repeat;
  background: linear-gradient(-50.527540151656176deg, #4fbac7, #4fbac7) 45% 100% / 1px 88% no-repeat, linear-gradient(#318e99, #318e99) 44% 50% / 20% 8px no-repeat, linear-gradient(#89d1da, #89d1da) 0 100% / 88% no-repeat, linear-gradient(-50.527540151656176deg, transparent 0, transparent 6%, #4fbac7 6%, #4fbac7 50%, #76c9d4 50%, #76c9d4 94%, transparent 94%) 0 0 / 100% no-repeat;
  opacity: 1;
}
.custom-choice-input__input:checked ~ .demarc-drilldown__cabinet-graphic:after {
  background: -o-linear-gradient(140.528deg, #79af79, #79af79) 45% 100% / 1px 88% no-repeat, -o-linear-gradient(#528952, #528952) 44% 50% / 20% 8px no-repeat, -o-linear-gradient(#a9cba9, #a9cba9) 0 100% / 88% no-repeat, -o-linear-gradient(140.528deg, transparent 0, transparent 6%, #79af79 6%, #79af79 50%, #99c299 50%, #99c299 94%, transparent 94%) 0 0 / 100% no-repeat;
  background: linear-gradient(-50.527540151656176deg, #79af79, #79af79) 45% 100% / 1px 88% no-repeat, linear-gradient(#528952, #528952) 44% 50% / 20% 8px no-repeat, linear-gradient(#a9cba9, #a9cba9) 0 100% / 88% no-repeat, linear-gradient(-50.527540151656176deg, transparent 0, transparent 6%, #79af79 6%, #79af79 50%, #99c299 50%, #99c299 94%, transparent 94%) 0 0 / 100% no-repeat;
  opacity: 1;
}
.demarc-drilldown__panel-selection {
  border: 5px solid powderBlue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.demarc-drilldown__panel-item {
  position: relative;
  margin: 0.5em 0;
}
.demarc-drilldown__panel-graphic {
  height: 2.5em;
  background-color: powderBlue;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(25%, #fff), color-stop(25%, transparent), color-stop(75%, transparent), color-stop(75%, #fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(25%, #fff), color-stop(25%, transparent), color-stop(75%, transparent), color-stop(75%, #fff), to(#fff));
  background-image: -o-linear-gradient(#fff, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -o-linear-gradient(#fff, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(#fff, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(#fff, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 1em 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
.demarc-drilldown__panel-item:hover > .demarc-drilldown__panel-graphic {
  background-color: #89d1da;
}
.custom-choice-input__input:checked ~ .demarc-drilldown__panel-graphic {
  background-color: #a9cba9;
}
.demarc-drilldown__panel-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* -------------------------------------- */
/* ==for the dirty code                   */
/* -------------------------------------- */
.graphics-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buildings-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.building-choice {
  margin: 0.5em;
  text-align: center;
}
.graphic-item-building {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.25em;
  height: 3.5em;
  background: -o-linear-gradient(129.472deg, #37a0ad, #37a0ad) 43% 95% / 16% no-repeat, -o-linear-gradient(129.472deg, white, white 50%, #2e8792 50%, #2e8792) 40% 100% / 20% no-repeat, -o-linear-gradient(powderBlue, powderBlue) 0 100% / 80% no-repeat, -o-linear-gradient(129.472deg, transparent 0, transparent, 10%, #76c9d4 10%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 90%, transparent 90%) 0 0 / 100% no-repeat;
  background: linear-gradient(-39.472459848343824deg, #37a0ad, #37a0ad) 43% 95% / 16% no-repeat, linear-gradient(-39.472459848343824deg, white, white 50%, #2e8792 50%, #2e8792) 40% 100% / 20% no-repeat, linear-gradient(powderBlue, powderBlue) 0 100% / 80% no-repeat, linear-gradient(-39.472459848343824deg, transparent 0, transparent, 10%, #76c9d4 10%, #76c9d4 50%, #9dd8e0 50%, #9dd8e0 90%, transparent 90%) 0 0 / 100% no-repeat;
}
.graphic-item-building:before,
.graphic-item-building:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.graphic-item-building:before {
  background: -o-linear-gradient(129.472deg, #2a7c86, #2a7c86) 43% 95% / 16% no-repeat, -o-linear-gradient(129.472deg, white, white 50%, #22636b 50%, #22636b) 40% 100% / 20% no-repeat, -o-linear-gradient(#89d1da, #89d1da) 0 100% / 80% no-repeat, -o-linear-gradient(129.472deg, transparent 0, transparent, 10%, #4fbac7 10%, #4fbac7 50%, #76c9d4 50%, #76c9d4 90%, transparent 90%) 0 0 / 100% no-repeat;
  background: linear-gradient(-39.472459848343824deg, #2a7c86, #2a7c86) 43% 95% / 16% no-repeat, linear-gradient(-39.472459848343824deg, white, white 50%, #22636b 50%, #22636b) 40% 100% / 20% no-repeat, linear-gradient(#89d1da, #89d1da) 0 100% / 80% no-repeat, linear-gradient(-39.472459848343824deg, transparent 0, transparent, 10%, #4fbac7 10%, #4fbac7 50%, #76c9d4 50%, #76c9d4 90%, transparent 90%) 0 0 / 100% no-repeat;
}
.graphic-item-building:after {
  background: -o-linear-gradient(129.472deg, #487948, #487948) 43% 95% / 16% no-repeat, -o-linear-gradient(129.472deg, white, white 50%, #3b633b 50%, #3b633b) 40% 100% / 20% no-repeat, -o-linear-gradient(#a9cba9, #a9cba9) 0 100% / 80% no-repeat, -o-linear-gradient(129.472deg, transparent 0, transparent, 10%, #79af79 10%, #79af79 50%, #99c299 50%, #99c299 90%, transparent 90%) 0 0 / 100% no-repeat;
  background: linear-gradient(-39.472459848343824deg, #487948, #487948) 43% 95% / 16% no-repeat, linear-gradient(-39.472459848343824deg, white, white 50%, #3b633b 50%, #3b633b) 40% 100% / 20% no-repeat, linear-gradient(#a9cba9, #a9cba9) 0 100% / 80% no-repeat, linear-gradient(-39.472459848343824deg, transparent 0, transparent, 10%, #79af79 10%, #79af79 50%, #99c299 50%, #99c299 90%, transparent 90%) 0 0 / 100% no-repeat;
}
.custom-choice-input:hover .graphic-item-building:before {
  opacity: 1;
}
.custom-choice-input__input:checked + .graphic-item-building:after {
  opacity: 1;
}
.floors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
}
.floor-choice {
  display: block;
}
.floor-choice + .floor-choice {
  margin-bottom: -0.5em;
}
.graphic-item-floor {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 2.5em;
}
.graphic-item-floor:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  border: 1px solid white;
  -webkit-transform: skewX(40deg);
      -ms-transform: skewX(40deg);
          transform: skewX(40deg);
  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.custom-choice-input:hover .graphic-item-floor:before {
  background-color: #86c5da;
}
.custom-choice-input__input:checked + .graphic-item-floor:before {
  background-color: pink;
}
.graphic-item-floor__label {
  position: relative;
}
.rooms-wrapper {
  overflow: hidden;
  border: 6px solid lightblue;
}
.room-choice {
  float: left;
  clear: left;
  min-width: 4em;
  width: 40%;
}
.room-choice:nth-child(even) {
  float: right;
  clear: none;
}
.graphic-item-room {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3em;
  background-color: white;
  border: 3px solid lightblue;
  -webkit-box-shadow: 0 3px 0 lightblue;
          box-shadow: 0 3px 0 lightblue;
}
.graphic-item-room:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 50%;
  width: 6px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: white;
}
.room-choice:nth-child(odd) .graphic-item-room {
  border-width: 3px 6px 3px 3px;
}
.room-choice:nth-child(odd) .graphic-item-room:before {
  right: -6px;
}
.room-choice:nth-child(even) .graphic-item-room {
  border-width: 3px 3px 3px 6px;
}
.room-choice:nth-child(even) .graphic-item-room:before {
  left: -6px;
}
.custom-choice-input:hover .graphic-item-room {
  background-color: #d4ebf2;
}
.custom-choice-input__input:checked + .graphic-item-room {
  background-color: pink;
}
/* -------------------------------------- */
/* ==utility classes                      */
/* -------------------------------------- */
/* the only place where the use of !important may be tolerated */

/*# sourceMappingURL=../css/styles.css.map */
