/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */

/* for html tag styling like html, body, h1... */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #354FA4,#4F317B);  
}