/* switch           */
/********************/
@switch-area-height: 1em;
@switch-area-width: 3em;
@switch-button-diameter: 1.5em;
@switch-button-border-width: 2px;
@switch-animation-length: 150ms;

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.switch__input {
  position: absolute;
  opacity: 0;
  z-index: -20;
}

.switch__graphic {
  display: block;
  position: relative;
  width: @switch-area-width;
  height: @switch-area-height;
  border-radius: @switch-area-height;
  transition: background-color @switch-animation-length ease-in-out;
  
  // appearance
  background-color: #E83A96;
  border: 2px solid #A4B9C1;
  box-shadow: inset 0 4px 3px 0 rgba(0,0,0,0.22);
  
  &:before {
    content: "";
    position: absolute;
    width: @switch-button-diameter;
    height: @switch-button-diameter;
    border-radius: @switch-button-diameter;
    border: @switch-button-border-width solid;
    top: ~"calc(50% - (@{switch-button-diameter} / 2))";
    left: -@switch-button-border-width;
    transition: left @switch-animation-length ease-in-out;
    
    // appearance
    background-image: linear-gradient(-180deg, #E2E2E2 0%, #91C6D7 100%);
    border-color: #97AAB0;
    box-shadow: 0 2px 2px 0 rgba(0,30,40,0.34);
  }
  
  .switch__input:checked + & {
    // appearance
    background: #99CA3C;
    border: 2px solid #A4B9C1;
    box-shadow: inset 0 4px 3px 0 rgba(0,0,0,0.32);
    
    &:before {
      left: ~"calc(100% - @{switch-button-diameter} + @{switch-button-border-width})";
    }
  }
}