.page {
	margin: 2em auto;
	padding: 1em;
	
	width: 90%;
	max-width: 720px;
	
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 7px 5px rgba(0,0,0,0.16);	
}

.page-section {
	margin-bottom: 2em;
}