.form-pills {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
 
.form-pills__item {
    display: inline-block;  
    position: relative;
    
    & + & {
        margin-left: 0.25em;
    }
}
 
.form-pills__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
}
 
.form-pills__label {
    background-color: #f7f8f8;
    border: 1px solid #b3d0e9;
    border-radius: 1.25em;
    color: #9B9B9B;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-align: center;
    display: block;
     
    &:hover {
        background: #E6F2F8;
        color: darken(#9B9B9B, 10%);
    }

    .form-pills__input[disabled]:not(:checked) + &,
    .form-pills__input:disabled:not(:checked) + & {
        opacity: 0.5;
        cursor: not-allowed;
        
        &:hover {
            background-color: #f7f8f8;
            color: #9B9B9B;
        }
    }
     
    .form-pills__input:checked + & {
        background-color: #eaf4d8;
        border-color: #99ca3c;
        color: darken(#7AA130, 10%);
    }

    // add checkbox visual if checkbox type
    .form-pills__input[type="checkbox"] + & {
        &:before {
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            background-color: white;
            vertical-align: middle;
            margin-right: 0.5em;
            border: 1px solid #b3d0e9;
            border-radius: 3px;
        }
    }

    .form-pills__input[type="checkbox"]:checked + & {
        &:before {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%228%22 viewBox=%220 0 10 8%22%3E %3Cpolygon fill=%22%23428BCA%22 fill-rule=%22evenodd%22 points=%229.227 0 3.174 6.053 .799 3.654 0 4.453 3.174 7.627 9.999 .8%22/%3E %3C/svg%3E ');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    .form-pills__input[type="checkbox"].-is-half-selected + & {
        &:before {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2210%22 height=%228%22 viewBox=%220 0 10 8%22%3E %3Cpolygon fill=%22%23428BCA%22 fill-rule=%22evenodd%22 points=%229.227 0 3.174 6.053 .799 3.654 0 4.453 3.174 7.627 9.999 .8%22/%3E %3C/svg%3E ');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}