// must-have for collapsible item
@collapsible-item-speed: 250ms;

.collapsible-item__expanding-shell {
  overflow: hidden;
  transition: height @collapsible-item-speed ease-in-out;
  height: 0;
}

.collapsible-item__hideable-content {
  opacity: 0.2;
  transition: opacity @collapsible-item-speed ease-in-out;
  
  // to prevent margins to push the div and mess up with the height
  &:before,
  &:after {
  	content: "";
  	display: table;
  }
  
  .collapsible-item.-is-open & {
    opacity: 1;
  }
}

.collapsible-item__trigger {
  cursor: pointer;
}