.switchable-section {
  border-bottom: 1px solid lightgrey;
}

.switchable-section__header {
  display: flex;
  align-items:  center;
  justify-content: space-between;
  padding: 0.75em 0;
}

.switchable-section__heading {
  color: #09c;
  font-size: 1.25em;
}

.switchable-section__content {
  padding: 0.75em 0;
}