/* ----------------------------- */
/* ==variables                   */
/* ----------------------------- */

@page-width: 980px;
@main-sidebar-width: 180px;
@main-content-width: calc(~"100% - 10px - @{main-sidebar-width}");

// colors
@main-text-color: #333;
@secondary-text-color: lighten(@main-text-color, 30%);


// spacing
@base-spacing: 8px;

@tiny-spacing: @base-spacing / 2;
@small-spacing: @base-spacing;
@medium-spacing: @base-spacing * 2;
@large-spacing: @base-spacing * 3;