/* --------------------------------- */
/* ==global mixins                   */
/* --------------------------------- */
.fluid-type(@property, @min-vw, @max-vw, @min-size, @max-size) {

	@{property}: @min-size;
	
	@media screen and (min-width: @min-vw) {
		@{property}: calc( @min-size ~" + " unit(@max-size - @min-size) ~" * ((100vw - " @min-vw ~") /" unit(@max-vw - @min-vw) ~")" );
	}

	@media screen and (min-width: @max-vw) {
		@{property}: @max-size;
	}
}



.mixin-btn() {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: Museo-300;
  font-weight: normal;
  border: none;
  -webkit-appearance: none;

  &.-is-disabled,
  &[disabled],
  *[disabled] button& {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.mixin-small-btn() {
  font-size: 1.08333em;
  padding: 0.5384em 1em 0.3846em 1em;
  line-height: 1;
  
  .fluid-type(font-size, 20em, 30em, 0.75em, 1.08333em);
}



.mixin-base-label() {
	display: block;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
}