/* ----------------------------- */
/* ==base                        */
/* ----------------------------- */

/* for html tag styling like html, body, h1... */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
	font-size: 0.75em;
	color: @main-text-color;
}

svg path {
  fill: inherit;
}

h1,
h2,
h3 {
	margin: 0;
	font-weight: normal;
}

@font-face {
  font-family: 'Museo-300';
  src: url('fonts/museo-300/333F1E_0_0.eot');
  src: url('fonts/museo-300/333F1E_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/museo-300/333F1E_0_0.woff2') format('woff2'), url('fonts/museo-300/333F1E_0_0.woff') format('woff'), url('fonts/museo-300/333F1E_0_0.ttf') format('truetype');
}
