.responsive-portal-menu {
	@media only screen and (max-width: @page-width) {
		display: flex;
	}
}

.responsive-portal-menu__lv1-item {
	border: 1px solid #b3e0f0;
	
	& + & {
		border-width: 0 1px 1px;
		
		@media only screen and (max-width: @page-width) {
			border-width: 1px 1px 1px 0;
		}
	}

	@media only screen and (max-width: @page-width) {
		width: 25%;
	}

	&:not(.responsive-portal-menu__primary-item) {
		@media only screen and (max-width: @page-width) {
			display: none;
		}
	}
}

.responsive-portal-menu__header {
	position: relative;
	
	background-color: transparent;
		
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		
		width: 30px;
		height: 100%;

		background-color: #E6F5FA;
		
		@media only screen and (max-width: @page-width) {
			width: 100%;
		}

		.responsive-portal-menu__lv1-item.-is-active & {
			background-color: #E0EFC5;
		}
	}
}

.responsive-portal-menu__flex-wrapper {
	display: flex;
	align-items: center;
	
	@media only screen and (max-width: @page-width) {
		flex-direction: column;
	}
}

.responsive-portal-menu__icon {
	z-index: 1; /* 1 */
	
	height: 30px;
	width: 30px;
}


.responsive-portal-menu__svg-icon {
	height: 100%;
	width: 100%;
	
	fill: #09c;
}

.responsive-portal-menu__item-name {
	z-index: 1; /* 1 */
	
	padding: 0 1em 0 0.25em;
	
	@media only screen and (max-width: @page-width) {
		padding: 0 0.25em;
	}
}
/* 1. Required to go above the :before element in parent element */

.responsive-portal-menu__submenu-marker {
	position: absolute;
	top: 50%;
	right: 0.5em;
	
	margin-top: -4px;
	
	width: 8px;
	height: 8px;
	
	@media only screen and (max-width: @page-width) {
		display: none;
	}
}

.responsive-portal-menu__more-marker {
	display: none;
	
	border: 1px solid #b3e0f0;
	border-width: 1px 1px 1px 0;
	
	@media only screen and (max-width: @page-width) {
		display: block;
		
		width: 25%;
	}
}

.responsive-portal-menu__submenu {
	display: none;
}

