.inventory-filters-list {
	display: flex;
	flex-wrap: wrap;
}

.inventory-filters-list__item {
	width: 25%;
	
	@media only screen and (max-width: 600px) {
		padding: 0.5em 0;
		
		width: 50%;
	}
}



.inventory-filters-controls__item {
	overflow: hidden;

	height: 0;
	
	transition: height 250ms ease-in-out;

	&.-is-open {
		height: auto;
	}
}

.inventory-filters-controls__content {
	// to prevent margins to push the div and mess up with the height
  &:before,
  &:after {
  	content: "";
  	display: table;
  }
}