.ports-inventory {
	margin: 0;
	padding: 0;
	
	list-style-type: none;	
}

.ports-inventory__item {
	position: relative;
	display: block;
	
	margin-bottom: @small-spacing;
	
	&.-is-hidden {
		display: none;
	}
}

.ports-inventory__bar {
	display: block;
	position: relative;
	
	padding: 1em 0.5em;
	padding-right: @large-spacing;
	
	border: 1px solid lightgrey;
	
	&:after {
		content: "";
		
		position: absolute;
		top: 50%;
		right: 0;
		
		margin-top: -8px;
		
		width: 0;
		height: 0;
		border: 8px solid transparent;
		border-left: 8px solid #09c;	
	}

	&:hover {
		background-color: #e6f2f8;
	}
}

.ports-inventory__displayed-criteria {
	font-size: 1.16667em;
}

.ports-inventory__dynamic-criteria {	
	
	font-style: italic;
	color: @secondary-text-color;
}

.ports-inventory__criteria {
	display: none;
	
	margin-top: @small-spacing;
	
	&.-is-shown {
		display: inline-block;
	}
}

.ports-inventory__details {
	padding: @medium-spacing;
	
	@media only screen and (max-width: 640px) {
		padding: @small-spacing;
	}
}