.page-header {
	background-color: #FFF;
}

.page-header__logo-area {
	display: flex;
	align-items: center;
	
	padding-top: 1em;
	padding-bottom: 0.25em;
	
	@media only screen and (max-width: @page-width) {
		padding-left: @small-spacing;
	}
}

.page-header__logo {
	padding-bottom: 0.8em; /* 1 */
	
	@media only screen and (max-width: 439px) {
		padding-bottom: 0.5em; /* 1 */
		
		width: 8em;
	}

	@media (min-width: 440px) and (max-width: 650px) {
		width: 11em;
	}
}

/* 1. Brittle property. Artificial padding to create visual alignment between the logo and the portal name */

.page-header__portal-name {
  margin-left: 0.25em;
	
  color: #3bbcf4;
	font-family: Museo-300;
  font-size: 3em;
  font-weight: normal;
  
  @media only screen and (max-width: 439px) {
		font-size: 1.5em;
	}
  
  @media (min-width: 440px) and (max-width: 650px) {
  	font-size: 2em;	
  }
}