body {
	background-color: lighten(#000, 92%);
}

.content-width {
	margin-left: auto;
	margin-right: auto;

	max-width: 980px;
	width: 100%;
	
	@media only screen and (min-width: @page-width) {
		width: calc(~"100% - @{medium-spacing}");
	}
}


.page-body {
	padding-top: 1em;

	background-color: #F2F2F2;
	
	@media only screen and (max-width: @page-width) {
		padding-top: 0;
	}

	@media only screen and (min-width: @page-width) {
		background-image: url(../img/modern-portal-visual.jpg);
		background-position: 50% 0;
		background-size: auto 630px;
		background-repeat: no-repeat;
	}

	@media only screen and (min-width: 1820px) {
		background-size: 100% auto;
	}
}


.page-body__content {

	&::after {
    content: "";
    display: table;
    clear: both;
    border-collapse: collapse;
  }

  @media only screen and (max-width: @page-width) {
  	display: flex;
  	flex-direction: column-reverse;
  }
}

.main-content {
	float: right;
	
	width: 	@main-content-width;
	
	background-color: #fff;
	
	@media only screen and (max-width: @page-width) {
		width: 100%;
	}
}

.main-sidebar {
	float: left;
	
	width: @main-sidebar-width;
	
	background-color: #fff;
	
	@media only screen and (max-width: @page-width) {
		width: 100%;
	}
}