.sliding-panel-trigger {
	position: absolute;
	overflow: hidden;
	
	width: 1px;
	height: 1px;
	opacity: 0;
	z-index: -10;
}

.sliding-panel {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	overflow-y: scroll;
	transform: translateX(120%);
	
	width: 90%;
	height: 100%;
	
	background-color: #fff;
	border-left: 1px solid lightgrey;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	
	transition: transform 350ms ease-in-out;
	
	@media (min-width: @page-width) and (max-width: 1250px) {
		width: 880px;
	}

	@media only screen and (min-width: 1251px) {
		width: 70.4%;
	}
	
	.sliding-panel-trigger:checked ~ & {
		transform: translateX(0);
		z-index: 11;
	}
}