.page-title {
    font-size: 2.08334em;
    line-height: 1.2;
    color: #09c;
    font-weight: normal;
    font-family: Museo-300;
    padding: 0.28em 0;
    
    .fluid-type(font-size, 20em, 61.25em, 1.25em, 2.08334em);
}

.section-heading {
    font-family: Museo-300;
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
    line-height: 2;
    margin-top: 0;

    &.-small {
        font-size: 1.166667em;
    }
}

.subtle-heading {
    font-size: 1em;
    font-weight: bold;
    line-height: 2;
    color: #333;
    margin: 0;
}

.text-like-heading {
    font-size: 1em;
    font-weight: normal;
    color: #333;
    line-height: 1.4;
    margin-top: 0;
}

.sub-section-heading {
    color: #09c;
    font-size: 1.3333em;
    font-family: Museo-300;
    font-weight: normal;
    line-height: 2;
    margin-top: 0;
}