// containers used as wrapper

.secondary-section { // should be renamed in .secondary-section after IXUAT-5268 is merged
	background: #f3f3f3;
	padding: @small-spacing;
  display: block;
}

.default-section {
	background: #D9EDF7;
	background-image: linear-gradient(-180deg, #C6E7F8 0%, #D9EDF7 40px);
	padding: 10px 20px 20px 20px;
	margin-bottom: 10px;
    display: block;
}

.inner-section {
	border-radius: 3px;
	background-color: #fff;
	padding: 20px;
    display: block;

	& + & {
		margin-top: 20px;
	}
}

.section-with-divider {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ededed;
    display: block;
}

.highlight-section { // should be renamed in .highlight-section after IXUAT-5268 is merged
    background-color: #e4ebed;
    padding: 0.83334em;
    display: block;
}

.subtle-section { // should be renamed in .subtle-section after IXUAT-5268 is merged
    padding: 0.83334em;
    border: 1px solid #cac9c9;
    overflow: auto;
    display: block;
    
    &:empty {
        display: none;
    }
}