/* -------------------------------------- */
/* ==for the dirty code                   */
/* -------------------------------------- */

.title-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: @small-spacing;
}



.initial-inventory-heading {
	
}

.updated-inventory-heading {
	display: none;
}