/* -------------------------------------- */
/* ==utility classes                      */
/* -------------------------------------- */

/* the only place where the use of !important may be tolerated */
.u-float-right {
	float: right;
}

// spacing helpers
.u-margin-top-small {
	margin-top: @small-spacing;
}

.u-margin-bottom-small {
	margin-bottom: @small-spacing;	
}

.u-margin-bottom-medium {
	margin-bottom: @medium-spacing;	
}

.u-padding-small {
	padding: @small-spacing;
}