.port-finder {
  border-bottom: 1px solid lightgrey;
}

.port-finder__section {
  overflow: hidden;
  height: 0;
    
  transition: height 300ms ease-in-out;
  
  & + & {
    border-width: 0 1px 1px;
  }
  
  &.-is-open,
  &.-is-half-open {
    height: auto;
  }
}

.port-finder__section-header {
  overflow: hidden;
  
  border: 1px solid lightgrey;
  
  transition: height 300ms ease-in-out;
}

.port-finder__inner-header {
  display: flex;
  align-items: center;
  
  width: 100%;
}

.port-finder__action {
  margin-left: auto;
  margin-right: 0.5em;
}

.port-finder__expandable-area {
  overflow: hidden;
      
  transition: height 300ms ease-in-out;
}

.port-finder__section-details {  
  border: 1px solid lightgrey;
  border-width: 0 1px;
}

.port-finder__radio-wrapper {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0.25em;
  
  & > .radio-pills {
    margin: 0.25em;
  }
}

.port-finder__label {
  padding: 0.5em;
  
  width: 5em;
  
  background-color: ghostwhite;
}

.port-finder__selected-item {
  margin-left: 0.5em;
  
  transform: translateY(0);
  
  transition: transform 200ms ease-in-out;
  
  &.-is-hidden {
    transform: translateY(200%);
  }
}

.port-finder__unselect-item {
  margin-left: auto;
  margin-right: 1em;
  padding: 0.25em 1em;
  
  background-color: lighten(red, 20%);
  border-radius: 4em;
  color: #fff;
  font-size: 0.75em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  
  transform: translateY(0);
  
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
  
  &.-is-hidden {
    transform: translateY(200%);
  }

  &:hover {
    background-color: red;
  }
}

.port-finder__item {
  // margin: 0.25em;
}