// Color base
@baseDefaultColor: powderBlue;
@baseHoverColor: darken(@baseDefaultColor, 10%);
@baseActiveColor: lighten(darkSeaGreen, 8%);

// Color Palette
@bgHue: #fff;

@defaultHue: @baseDefaultColor;
@defaultHue--pale: lighten(@defaultHue, 15%);
@defaultHue--dark1: darken(@defaultHue, 5%);
@defaultHue--dark2: darken(@defaultHue, 15%);
@defaultHue--dark3: darken(@defaultHue, 30%);

@hoverHue: @baseHoverColor;
@hoverHue--pale: lighten(@defaultHue, 10%);
@hoverHue--dark1: darken(@hoverHue, 5%);
@hoverHue--dark2: darken(@hoverHue, 15%);
@hoverHue--dark3: darken(@hoverHue, 30%);

@activeHue: @baseActiveColor;
@activeHue--pale: lighten(@activeHue, 15%);
@activeHue--dark1: darken(@activeHue, 5%);
@activeHue--dark2: darken(@activeHue, 15%);
@activeHue--dark3: darken(@activeHue, 30%);



// building variables and mixin
@buildingWidthRatio: 4.25;
@buildingHeightRatio: 3.5;
@buildingWidth: ~"@{buildingWidthRatio}em";
@buildingHeight: ~"@{buildingHeightRatio}em";
@buildingGradientAngle: ~"-`Math.atan2(@{buildingHeightRatio},@{buildingWidthRatio})*180/Math.PI`deg";

.building-size() {
	height: @buildingHeight;
	width: @buildingWidth;
}

.building-graphic(@frontColor: defaultHue) {
	@topColor: "@{frontColor}--dark1";
	@sideColor: "@{frontColor}--dark2";
	@doorShadow: "@{frontColor}--dark3";
	
	@coverage: 80%;
	@gradientBottomStep: (100% - @coverage) / 2;
	@gradientLeftStep: 100% - ((100% - @coverage) / 2);

		
	background: linear-gradient(@buildingGradientAngle, @bgHue, @bgHue) 43% 100% ~"/" 16% 20% no-repeat, linear-gradient(@buildingGradientAngle, white, white 50%,@@doorShadow 50%, @@doorShadow) 40% 100% ~"/" 20% no-repeat, linear-gradient(@@frontColor,@@frontColor) 0 100% ~"/" @coverage no-repeat, linear-gradient(@buildingGradientAngle,transparent 0, transparent @gradientBottomStep, @@sideColor @gradientBottomStep, @@sideColor 50%, @@topColor 50%, @@topColor @gradientLeftStep,transparent @gradientLeftStep) 0 0 ~"/" 100% no-repeat;
}



// cabinet variables and mixin
@cabinetWidthRatio: 3.5;
@cabinetHeightRatio: 4.25;
@cabinetWidth: ~"@{cabinetWidthRatio}em";
@cabinetHeight: ~"@{cabinetHeightRatio}em";
@cabinetGradientAngle: ~"-`Math.atan2(@{cabinetHeightRatio},@{cabinetWidthRatio})*180/Math.PI`deg";

.cabinet-size() {
	height: @cabinetHeight;
	width: @cabinetWidth;
}

.cabinet-graphic(@frontColor: defaultHue) {
	@topColor: "@{frontColor}--dark1";
	@sideColor: "@{frontColor}--dark2";
	@handleColor: "@{frontColor}--dark3";
	
	@coverage: 88%;
	@gradientBottomStep: (100% - @coverage) / 2;
	@gradientLeftStep: 100% - ((100% - @coverage) / 2);
	@handlePosition: @coverage / 2 + 1;


	background: linear-gradient(@cabinetGradientAngle, @@sideColor, @@sideColor) @handlePosition 100% ~"/" 1px @coverage no-repeat,linear-gradient(@@handleColor, @@handleColor) @coverage/2 50% ~"/" 20% 8px no-repeat, linear-gradient(@@frontColor,@@frontColor) 0 100% ~"/" @coverage no-repeat, linear-gradient(@cabinetGradientAngle,transparent 0, transparent @gradientBottomStep, @@sideColor @gradientBottomStep, @@sideColor 50%, @@topColor 50%, @@topColor @gradientLeftStep,transparent @gradientLeftStep) 0 0 ~"/" 100% no-repeat;
}



.walled() {
	border: 5px solid @defaultHue;
}

.complex-graphic-pseudo-element() {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	
	height: 100%;
	width: 100%;
	
	opacity: 0;
	
	transition: opacity 300ms ease-in-out;
}



.plop {
	.cabinet-graphic();
}



// site section
.demarc-drilldown__site-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.demarc-drilldown__site-item {
	margin: 0.5em;
	
	text-align: center;
}

.demarc-drilldown__site-graphic {
	position: relative;
	
	.building-size();
	.building-graphic();
	
	&:before,
	&:after {
		.complex-graphic-pseudo-element();
	}

	.demarc-drilldown__site-item:hover > & {
		&:before {
			.building-graphic(hoverHue);
			
			opacity: 1;
		}
	}

	.custom-choice-input__input:checked ~ & {
		&:after {
			.building-graphic(activeHue);
			
			opacity: 1;
		}
	}
}



// floor section
.demarc-drilldown__floor-selection {
	display: flex;
  flex-direction: column-reverse;
  
  padding: 1em 0;
}

.demarc-drilldown__floor-item {
	position: relative;
	
	& + & {
		margin-bottom: -1em;
	}
}

.demarc-drilldown__floor-graphic {
	max-width: 280px;
	width: 70%;
	height: 4em;
	
	margin: 0 auto;
	
	background-color: @defaultHue;
	border: 3px solid @bgHue;
	border-width: 3px 5px;
	
	transform: skewX(-40deg);
	
	transition: background-color 300ms ease-in-out;
	
	.demarc-drilldown__floor-item:hover > & {
		background-color: @hoverHue;
	}

	.custom-choice-input__input:checked ~ & {
		background-color: @activeHue;
	}
}

.demarc-drilldown__floor-name {
	.absolute-center();
}



// room section
.demarc-drilldown__room-selection {
	overflow: hidden;
	
	.walled();
	background-color: whiteSmoke;
}

.demarc-drilldown__room-item {
	position: relative;
	
	width: 40%;
	
	&:nth-child(odd) {
		float: left;
		clear: left;
	}

	&:nth-child(even) {
		float: right;
	}
	
}

.demarc-drilldown__room-graphic {
	height: 4em;
	
	background-color: @bgHue;
	box-shadow: 0 -3px 0 @defaultHue, -3px 0 0 @defaultHue, 0 3px 0 @defaultHue, 3px 0 0 @defaultHue, -3px 3px 0 @defaultHue;
	
	transition: background-color 300ms ease-in-out;
	
	.demarc-drilldown__room-item:hover > & {
		background-color: @hoverHue--pale;
	}

	.custom-choice-input__input:checked ~ & {
		background-color: @activeHue--pale;
	}
}

.demarc-drilldown__room-name {
	.absolute-center();
}



// cage section
.demarc-drilldown__cage-selection {
	display: flex;
	flex-wrap: wrap;
	
	.walled;
	background-color: whiteSmoke;
}

.demarc-drilldown__cage-item {
	position: relative;
	
	width: 40%;
	
	&:nth-child(odd) {
		margin-left: ~"calc((100% - 40%*2)/2)";
	}

	&:nth-child(even) {
		margin-right: auto;
	}

	&:nth-child(4n + 1),
	&:nth-child(4n + 2) {
		margin-bottom: 3em;
	}
}

.demarc-drilldown__cage-graphic {
	height: 4em;
	
	background-color: @bgHue;
	box-shadow: 0 -3px 0 @defaultHue, -3px 0 0 @defaultHue, inset 0 -3px 0 @defaultHue, inset -3px 0 0 @defaultHue, -3px -3px 0 @defaultHue;
	
	transition: background-color 300ms ease-in-out;
	
	.demarc-drilldown__cage-item:hover > & {
		background-color: @hoverHue--pale;
	}

	.custom-choice-input__input:checked ~ & {
		background-color: @activeHue--pale;
	}
}

.demarc-drilldown__cage-name {
	.absolute-center();
}



// row section
.demarc-drilldown__row-selection {
	.walled();
	display: flex;
	flex-direction: column; 
	
	padding: 0 5%;
}

.demarc-drilldown__row-item {
	position: relative;
}

.demarc-drilldown__row-graphic {
	height: 4em;
	
	background-color: @bgHue;
	box-shadow: 0 -3px 0 @defaultHue;
	
	transition: background-color 300ms ease-in-out;
	
	.demarc-drilldown__row-item:hover > & {
		background-color: @hoverHue--pale;
	}

	.custom-choice-input__input:checked ~ & {
		background-color: @activeHue--pale;
	}
}

.demarc-drilldown__row-name {
	.absolute-center;
}



// cabinet section
.demarc-drilldown__cabinet-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.demarc-drilldown__cabinet-item {
	margin: 0.5em;
	
	text-align: center;
}

.demarc-drilldown__cabinet-graphic {
	position: relative;
	
	.cabinet-size();
	.cabinet-graphic();
	
	&:before,
	&:after {
		.complex-graphic-pseudo-element();
	}

	.demarc-drilldown__cabinet-item:hover > & {
		&:before {
			.cabinet-graphic(hoverHue);
			
			opacity: 1;
		}
	}

	.custom-choice-input__input:checked ~ & {
		&:after {
			.cabinet-graphic(activeHue);
			
			opacity: 1;
		}
	}
}

.demarc-drilldown__cabinet-name {
	
}



// panel section
.demarc-drilldown__panel-selection {
	.walled();
	
	display: flex;
	flex-direction: column;
}

.demarc-drilldown__panel-item {
	position: relative;
	margin: 0.5em 0;
}

.demarc-drilldown__panel-graphic {
	height: 2.5em;
	
	background-color: @defaultHue;
	background-image: linear-gradient(@bgHue, @bgHue 25%,transparent 25%, transparent 75%, @bgHue 75%, @bgHue), linear-gradient(@bgHue, @bgHue 25%,transparent 25%, transparent 75%, @bgHue 75%, @bgHue);
	background-size: 1em 100%;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	
	.demarc-drilldown__panel-item:hover > & {
		background-color: @hoverHue;
	}

	.custom-choice-input__input:checked ~ & {
		background-color: @activeHue;
	}
}

.demarc-drilldown__panel-name {
	.absolute-center();
}