body {
	background-image: linear-gradient(to right, #354FA4, #4F317B);
}

.wrapper {
	margin: 2em auto;
	padding: 1em;
	
	width: 95%;
	max-width: 750px;
	
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.16);
}