.radio-pills {
  position: relative;
  display: inline-block;
}

.radio-pills__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-pills__label {
    background-color: #f7f8f8;
    border: 1px solid #b3d0e9;
    border-radius: 1.25em;
    color: #9B9B9B;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-align: center;
    display: block;
    cursor: pointer;
     
    &:hover {
        background: #E6F2F8;
        color: darken(#9B9B9B, 10%);
    }

    .radio-pills__input[disabled]:not(:checked) + &,
    .radio-pills__input:disabled:not(:checked) + &,
    .custom-choice-input__input[disabled]:not(:checked) + &,
    .custom-choice-input__input:disabled:not(:checked) + & {
        opacity: 0.5;
        cursor: not-allowed;
        
        &:hover {
            background-color: #f7f8f8;
            color: #9B9B9B;
        }
    }
     
    .radio-pills__input:checked + &,
    .custom-choice-input__input:checked + & {
        background-color: #eaf4d8;
        border-color: #99ca3c;
        color: darken(#7AA130, 10%);
    }
}