/* -------------------------------------- */
/* ==for the dirty code                   */
/* -------------------------------------- */

.graphics-wrapper {
  display: flex;
}



.buildings-wrapper {
  display: flex;
}

.building-choice {  
  margin: 0.5em;
  
  text-align: center;
}




@buildingFrontCoverage: 80%;


@gradientBottomStep: (100% - @buildingFrontCoverage) / 2;
@gradientLeftStep: 100% - ((100% - @buildingFrontCoverage) / 2);

@buildingColor: powderBlue;
@buildingColorSide: darken(@buildingColor, 15%);
@buildingColorTop: darken(@buildingColor, 5%);
@buildingColorDoor: darken(@buildingColor, 35%);
@buildingColorDoor2: darken(@buildingColor, 42%);

@buildingHoverColor: darken(powderBlue, 10%);
@buildingHoverColorSide: darken(@buildingHoverColor, 15%);
@buildingHoverColorTop: darken(@buildingHoverColor, 5%);
@buildingHoverColorDoor: darken(@buildingHoverColor, 35%);
@buildingHoverColorDoor2: darken(@buildingHoverColor, 42%);

@buildingActiveColor: lighten(darkSeaGreen, 8%);
@buildingActiveColorSide: darken(@buildingActiveColor, 15%);
@buildingActiveColorTop: darken(@buildingActiveColor, 5%);
@buildingActiveColorDoor: darken(@buildingActiveColor, 35%);
@buildingActiveColorDoor2: darken(@buildingActiveColor, 42%);


.graphic-item-building {
  position: relative;
  display: flex;
  
  width: @buildingWidth;
  height: @buildingHeight;
  
  background: linear-gradient(@buildingGradientAngle, @buildingColorDoor,@buildingColorDoor) 43% 95% ~"/" 16% no-repeat, linear-gradient(@buildingGradientAngle, white, white 50%,@buildingColorDoor2 50%, @buildingColorDoor2) 40% 100% ~"/" 20% no-repeat, linear-gradient(@buildingColor,@buildingColor) 0 100% ~"/" @buildingFrontCoverage no-repeat, linear-gradient(@buildingGradientAngle,transparent 0, transparent, @gradientBottomStep, @buildingColorSide @gradientBottomStep, @buildingColorSide 50%,@buildingColorTop 50%, @buildingColorTop @gradientLeftStep,transparent @gradientLeftStep) 0 0 ~"/" 100% no-repeat;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 100%;

    opacity: 0;
    
    transition: opacity 200ms ease-in-out;
  }
  
  &:before {    
    background: linear-gradient(@buildingGradientAngle, @buildingHoverColorDoor,@buildingHoverColorDoor) 43% 95% ~"/" 16% no-repeat, linear-gradient(@buildingGradientAngle, white, white 50%,@buildingHoverColorDoor2 50%, @buildingHoverColorDoor2) 40% 100% ~"/" 20% no-repeat, linear-gradient(@buildingHoverColor,@buildingHoverColor) 0 100% ~"/" @buildingFrontCoverage no-repeat, linear-gradient(@buildingGradientAngle,transparent 0, transparent, @gradientBottomStep, @buildingHoverColorSide @gradientBottomStep, @buildingHoverColorSide 50%,@buildingHoverColorTop 50%, @buildingHoverColorTop @gradientLeftStep,transparent @gradientLeftStep) 0 0 ~"/" 100% no-repeat;
  }
  
  &:after {
    background: linear-gradient(@buildingGradientAngle, @buildingActiveColorDoor,@buildingActiveColorDoor) 43% 95% ~"/" 16% no-repeat, linear-gradient(@buildingGradientAngle, white, white 50%,@buildingActiveColorDoor2 50%, @buildingActiveColorDoor2) 40% 100% ~"/" 20% no-repeat, linear-gradient(@buildingActiveColor,@buildingActiveColor) 0 100% ~"/" @buildingFrontCoverage no-repeat, linear-gradient(@buildingGradientAngle,transparent 0, transparent, @gradientBottomStep, @buildingActiveColorSide @gradientBottomStep, @buildingActiveColorSide 50%,@buildingActiveColorTop 50%, @buildingActiveColorTop @gradientLeftStep,transparent @gradientLeftStep) 0 0 ~"/" 100% no-repeat;
  }
  
  .custom-choice-input:hover & {
    &:before {
      opacity: 1;
    }
  }
  
  .custom-choice-input__input:checked + & {
    &:after {
      opacity: 1;
    }
  }
}



.floors-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.floor-choice {
  display: block;

  & + & {
    margin-bottom: -0.5em;
  }
}


.graphic-item-floor {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  
  margin: 0 auto;
  
  width: 80%;
  height: 2.5em;
  
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-color: lightblue;
    border: 1px solid white;
    
    transform: skewX(40deg);
    
    transition: background-color 300ms ease-in-out;
  }
  
  .custom-choice-input:hover & {
    &:before {
      background-color: darken(lightblue, 10%);
    }
  }
  
  .custom-choice-input__input:checked + & {
    &:before {
      background-color: pink;
    }
  }
}

.graphic-item-floor__label {
  position: relative;
}



.rooms-wrapper {
  overflow: hidden;
  
  border: 6px solid lightblue;
}

.room-choice {
  float: left;
  clear: left;
  
  min-width: 4em;
  width: 40%;
  
  &:nth-child(even) {
    float: right;
    clear: none;
  }
}

.graphic-item-room {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 3em;
  
  background-color: white;
  border: 3px solid lightblue;
  box-shadow: 0 3px 0 lightblue;
  
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    
    height: 50%;
    width: 6px;
    
    transform: translateY(-50%);
    
    background-color: white;
  }
  
  .room-choice:nth-child(odd) & {
    border-width: 3px 6px 3px 3px;
    
    &:before {
      right: -6px;
    }
  }
  
  .room-choice:nth-child(even) & {
    border-width: 3px 3px 3px 6px;
    
    &:before {
      left: -6px;
    }
  }
  
  .custom-choice-input:hover & {
    background-color: lighten(lightblue, 10%);
  }
  
  .custom-choice-input__input:checked + & {
    background-color: pink;
  }
}